/*! pxh-prechrome.css 2.4.0 */

/*------------------------------------*\
    #pxh-prechrome
\*------------------------------------*/

// ** #SETTINGS ** //

// SORT ORDER IS IMPORTANT IN THIS LAYER //

/// Define whether the application is rendering in a 'left-to-right' language or a 'right-to-left' language
/// @group pxh-settings
/// @type String [default] 'ltr'
$pxh-language-direction: 'ltr'; // 'ltr' OR 'rtl'

@import 'settings.spacing';
@import 'settings.colors';
@import 'settings.theme-prechrome';
@import 'settings.theme-default';

// ** #GENERIC ** //

@import 'generic.normalize';
@import 'generic.fonts';
@import 'generic.defaults';

// ** #TOOLS ** //

@import 'sass-mq/mq'; // our sass task includes /bower_components automatically so we don't need to specify it
@import 'font-awesome/scss/font-awesome'; // our sass task includes /bower_components automatically so we don't need to specify it
@import 'tools.pxh-animations';
@import 'tools.pxh-mixins';

// ** #ELEMENTS ** //

@import 'elements.body';
@import 'elements.links';
@import 'elements.hr';

html {
  background-color: $gray10;
  color: $white;
}

a {
  text-decoration: none;
}

// ** #OBJECTS ** //

// ** #COMPONENTS ** //

@import 'components.pxh-error';

// ** #OVERRIDES ** //
