/*------------------------------------*\
    #components.pxh-login
\*------------------------------------*/

/// Massive animation config object for pxh-login components
/// @group pxh-login
$pxhtheme-login-animate-config: (
  font-size-in: $inuit-base-font-size,
  margin-in: 0,
  padding-in: 0,
  border-in: 0,
  height-in: auto,
  opacity-in: 1,
  animation-name-in: animate-in,
  font-size-out: 0,
  margin-out: 0,
  padding-out: 0,
  border-out: 0,
  height-out: auto,
  opacity-out: 0,
  animation-name-out: animate-out,
  animation-duration: 500ms,
  block-class: pxh-login
);

@include mega-keyframes($pxhtheme-login-animate-config);

.pxh-login {
  display: flex;
  align-items: center;
  font-size: $inuit-base-font-size;
  border-style: solid;
  border-color: $pxhtheme-login-border-color;
  border-width: $pxhtheme-login-border-width;
  background-color: $pxhtheme-drawer-bg-color;
  position: absolute;
  bottom: 0;
  height: $pxhtheme-login-height;
  width: 100%;

  &__name,
  &__caret,
  &__settings,
  &__notifications {
    @include mega-animate($pxhtheme-login-animate-config);
  }

  &__caret {

    // From the @md (tablet) breakpoint and wider,
    // display pxh-login__caret in its narrow state.
    // Remove this class to display the drawer in its wide state.
    @include mq($from: md) {
      &--narrow\@md {
        display: none;
      }
    }

    @include mq($from: lg) {
      &--wide\@lg {
        display: block;
      }
    }
  }

  &__link {
    @include pxh-override-px-theme-color('pxh-login__link');
  }

  &__profile-link {
    @include pxh-override-px-theme-color('pxh-login__profile-link');
    display: flex;
    align-items: center;
    flex-grow: 3;
    text-decoration: none;
    text-align: $pxhtheme-drawer-side;
  }

  &__avatar {
    height: $pxhtheme-login-avatar-height-width;
    width: $pxhtheme-login-avatar-height-width + $pxhtheme-drawer-margin / 2;
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin - 6px;
  }

  &__avatar-image {
    height: $pxhtheme-login-avatar-height-width;
    width: $pxhtheme-login-avatar-height-width;
    border-radius: 100%;
  }

  &__name {
    max-width: $pxhtheme-drawer-width-wide - ($pxhtheme-drawer-margin * 7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    // From the @md (tablet) breakpoint and wider,
    // display pxh-login__name in its narrow state.
    // Remove this class to display the drawer in its wide state.
    @include mq($from: md) {
      &--narrow\@md {
        display: none;
      }
    }

    @include mq($from: lg) {
      &--wide\@lg {
        display: block;
      }
    }
  }

  &__settings {
    flex-shrink: 0;
    flex-basis: auto;

    // From the @md (tablet) breakpoint and wider,
    // display pxh-login__settings in its narrow state.
    // Remove this class to display the drawer in its wide state.
    @include mq($from: md) {
      &--narrow\@md {
        display: none;
      }
    }

    @include mq($from: lg) {
      &--wide\@lg {
        display: block;
      }
    }
  }

  &__caret-icon {
    padding-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin / 4;
  }

  &__notifications {
    text-align: center;
    position: relative;
    flex-shrink: 0;
    flex-basis: auto;

    @include mq($from: md) {
      &--narrow\@md {
        position: absolute;
        bottom: $pxhtheme-drawer-margin * 2.5;
        #{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin * 2.5;

        .pxh-login__notifications-link {
          display: none;
        }
      }
    }

    @include mq($from: lg) {
      &--wide\@lg {
        position: relative;
        bottom: auto;
        #{$pxhtheme-drawer-side}: auto;

        .pxh-login__notifications-link {
          display: inline;
        }
      }
    }
  }

  &__notifications-link {
    @include pxh-override-px-theme-color('pxh-login__notifications-link');
    display: inline;
    padding: $pxhtheme-login-magic-centering ($pxhtheme-drawer-margin / 2) ($pxhtheme-drawer-margin / 2) ($pxhtheme-drawer-margin / 2);
    color: $pxhtheme-login-notifications-link-text-color;

    &:hover,
    .pxh-login__notifications:hover & {
      color: $white;
    }
  }

  &__notifications-badge {
    @include pxh-override-px-theme-color('pxh-login__notifications-badge', $white);
    @if $pxhtheme-drawer-side == right {
      left: $pxhtheme-drawer-margin / 4;
    } @else {
      right: -$pxhtheme-drawer-margin / 4;
    }
    top: -($pxhtheme-drawer-margin / 2) - 5px;
    z-index: 775;
    text-align: center;
    background-color: $pxhtheme-login-notifications-badge-bg-color;
    display: block;
    min-width: $pxhtheme-drawer-margin;
    height: $pxhtheme-drawer-margin;
    font-weight: normal;
    color: $pxhtheme-login-notifications-badge-text-color;
    font-size: 12px;
    line-height: 1;
    border-radius: 12px;
    text-decoration: none;
    position: absolute;
    padding-top: 4px;
    padding-bottom: 0;
    padding-left: 1px; // yeah, hard-coded for LTR and RTL
    padding-right: 2px; // yeah, hard-coded for LTR and RTL

    &:hover + .pxh-login__notifications-link {
      color: $pxhtheme-login-notifications-link-text-color-hover !important; // !important is the only way to override the px-theme override chaining
    }

    &--green {
      @include pxh-override-px-theme-background-color('pxh-login__notifications-badge--green', $pxhtheme-login-notifications-badge-bg-color-green);
      background-color: $pxhtheme-login-notifications-badge-bg-color-green;
    }

    &--blue {
      @include pxh-override-px-theme-background-color('pxh-login__notifications-badge--blue', $pxhtheme-login-notifications-badge-bg-color-blue);
      background-color: $pxhtheme-login-notifications-badge-bg-color-blue;
    }

    &--orange {
      @include pxh-override-px-theme-background-color('pxh-notifications-badge--orange', $pxhtheme-login-notifications-badge-bg-color-orange);
      background-color: $pxhtheme-login-notifications-badge-bg-color-orange;
    }

    &--red {
      @include pxh-override-px-theme-background-color('pxh-notifications-badge--red', $pxhtheme-login-notifications-badge-bg-color-red);
      background-color: $pxhtheme-login-notifications-badge-bg-color-red;
    }

    &--hidden {
      display: none;
    }
  }
}

.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon {  // it takes a five-deep class chain to override px-theme here
  height: $pxhtheme-login-avatar-height-width;
  width: $pxhtheme-login-avatar-height-width;
  padding-top: 4px; // magic number
  text-align: center;
  font-size: $inuit-base-font-size * 1.1; // needs a !important with anything less than a five-deep class chain
  background-color: transparent;
  color: $gray7;
  border: 1px solid $gray7;
  border-radius: 100%;
}

.pxh-login__settings-link.pxh-login__settings-link.pxh-login__settings-link,
.pxh-login__settings-link:link.pxh-login__settings-link:link.pxh-login__settings-link:link,
.pxh-login__settings-link:visited.pxh-login__settings-link:visited.pxh-login__settings-link:visited { // chained to override px-theme
  float: #{$pxhtheme-drawer-opposite-side};
  padding-top: 0;
  padding-bottom: 0;
  padding-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin / 2;
  padding-#{$pxhtheme-drawer-opposite-side}: $pxhtheme-drawer-margin / 2;  
  color: $pxhtheme-login-settings-link-text-color;
  text-decoration: none;
}

.pxh-login__settings-link:hover.pxh-login__settings-link:hover.pxh-login__settings-link:hover { // chained to override px-theme
  color: $pxhtheme-login-settings-link-text-color-hover;
}

/*------------------------------------*\
    #PXH-LOGIN-MENU
\*------------------------------------*/

.pxh-login-menu {
  z-index: 799;
  position: absolute;
  bottom: ($pxhtheme-login-height / 2) + 10px; // magic number to position above name
  #{$pxhtheme-drawer-side}: -9999px;
  background-color: $pxhtheme-login-menu-bg-color;
  color: $pxhtheme-login-menu-text-color;
  width: $pxhtheme-drawer-width-wide / 2;
  border-radius: 3px;
  border-style: solid;
  border-width: $pxhtheme-login-menu-border-width;
  border-color: $pxhtheme-login-menu-border-color;
  box-shadow: $pxhtheme-login-menu-box-shadow;

  &__divider {
    display: block;
    border-style: solid;
    border-width: $pxhtheme-login-menu-divider-border-width;
    border-color: $pxhtheme-login-menu-border-color;
  }

  &__link {
    @include pxh-override-px-theme-color('pxh-login-menu__link ', $pxhtheme-login-menu-link-text-color, $pxhtheme-login-menu-link-text-color-hover);
  }
}

.pxh-login-menu--visible.pxh-login-menu--profile {
  #{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin * 2.75; // magic number
}

.pxh-login-menu--visible.pxh-login-menu--settings {
  #{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin * 6;
}

.pxh-login-menu__list.pxh-login-menu__list.pxh-login-menu__list { // chained to override px-theme
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-login-menu__link.pxh-login-menu__link.pxh-login-menu__link { // chained to override px-theme
  display: block;
  height: 30px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: $pxhtheme-login-menu-link-text-color;
}

.pxh-login-menu__link:hover.pxh-login-menu__link:hover.pxh-login-menu__link:hover { // chained to override px-theme
  background-color: $pxhtheme-login-menu-link-bg-color-hover;
}

@include mq($from: md) {
  .pxh-login--narrow\@md {
    .pxh-login-menu--profile.pxh-login-menu--visible {
      #{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin * 1.25; // magic number
    }
  }
}

@include mq($from: lg) {
  .pxh-login--wide\@lg {
    .pxh-login-menu--profile.pxh-login-menu--visible {
      #{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin * 2.75; // magic number
    }
  }
}
