/*------------------------------------*\
    #PXH-NAVIGATION
\*------------------------------------*/

$pxh-navigation-selected-bg-color: $select-blue-pressed !default;
$pxh-navigation-active-bg-color: $gray8 !default;
$pxh-navigation-hover-bg-color: $gray7 !default;

.pxh-navigation {
  position: relative;
  max-height: 100%;
  overflow: auto;
 -webkit-overflow-scrolling: touch;
}

@include mq($from: md) {
  .pxh-navigation--narrow\@md {
    .pxh-navigation__item-text {
      display: none;
    }
    .pxh-navigation__link {
      padding-left: $inuit-base-spacing-unit * 0.75;
    }
    .pxh-navigation__sub-list {
      display: none;
    }
  }
}

.pxh-navigation__list.pxh-navigation__list.pxh-navigation__list { // chained to override px-theme
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-navigation__item-icon {
  width: $inuit-base-spacing-unit * 1.5;
}

.pxh-navigation__link.pxh-navigation__link.pxh-navigation__link { // chained to override px-theme
  display: block;
  padding: $inuit-base-spacing-unit ($inuit-base-spacing-unit / 3) $inuit-base-spacing-unit ($inuit-base-spacing-unit);
  color: $white;
  text-decoration: none;
}

.pxh-navigation__link:link.pxh-navigation__link:link.pxh-navigation__link:link,
.pxh-navigation__link:visited.pxh-navigation__link:visited.pxh-navigation__link:visited { // chained to override px-theme
  color: $white;
}
.pxh-navigation__link:hover.pxh-navigation__link:hover.pxh-navigation__link:hover { // chained to override px-theme
  background-color: $pxh-navigation-hover-bg-color;
}

.pxh-navigation__link--selected.pxh-navigation__link--selected.pxh-navigation__link--selected,
.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link,
.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited,
.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover { // chained to override px-theme
  background-color: $pxh-navigation-selected-bg-color;
}

.pxh-navigation__link--active.pxh-navigation__link--active.pxh-navigation__link--active,
.pxh-navigation__link--active:link.pxh-navigation__link--active:link.pxh-navigation__link--active:link,
.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited {
  background-color: $pxh-navigation-active-bg-color;
}

.pxh-navigation__sub-list.pxh-navigation__sub-list.pxh-navigation__sub-list { // chained to override px-theme
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pxh-navigation__sub-list--hidden {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pxh-navigation__sub-link.pxh-navigation__sub-link.pxh-navigation__sub-link { // chained to override px-theme
  font-size: 13px;
  display: block;
  padding: ($inuit-base-spacing-unit / 2) 0 ($inuit-base-spacing-unit / 2) $inuit-base-spacing-unit * 2.75;
  display: block;
  color: $white;
  text-decoration: none;
}

.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link,
.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited { // chained to override px-theme
  color: $white;
}
.pxh-navigation__sub-link.pxh-navigation__sub-link:hover.pxh-navigation__sub-link:hover { // chained to override px-theme
  background-color: $pxh-navigation-hover-bg-color;
}

.pxh-navigation__sub-link--selected {
  background-color: $pxh-navigation-selected-bg-color;
  &:link,
  &:visited {
    background-color: $pxh-navigation-selected-bg-color;
  }
  &:hover {
    background-color: $pxh-navigation-selected-bg-color;
  }
}

.pxh-navigation__sub-item--divider {
  display: block;
  border-top: 1px solid $gray9;
}

.pxh-navigation__sub-link--settings.pxh-navigation__sub-link--settings.pxh-navigation__sub-link--settings,
.pxh-navigation__sub-link--settings:link.pxh-navigation__sub-link--settings:link.pxh-navigation__sub-link--settings:link,
.pxh-navigation__sub-link--settings:visited.pxh-navigation__sub-link--settings:visited.pxh-navigation__sub-link--settings:visited {
  color: $primary-blue;
}

.pxh-navigation__sub-link--settings:hover.pxh-navigation__sub-link--settings:hover.pxh-navigation__sub-link--settings:hover {
  color: $white;
}
