/*------------------------------------*\
    #components.pxh-notification
\*------------------------------------*/

$pxh-notifications-enabled : false !default;

$pxh-notification-height: 70px;
$pxh-notification-margin: 5px;
$pxh-notification-max-count: 4;

@mixin pxh-notification--in-state-scale {
  height: $pxh-toast-height;
  font-size: 16px;
}

@mixin pxh-notification--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-notification--out-state-scale {
    @include out-state-scale;
    height: 0;
}

@mixin pxh-notification--in-state {
  @include pxh-notification--in-state-opacity;
  @include pxh-notification--in-state-scale;
}

@mixin pxh-notification--out-state {
  @include pxh-notification--out-state-scale;
  @include out-state-opacity;
}

@if $pxh-notifications-enabled == true {
  .pxh-notifications {
    z-index: 800;
    position: fixed;
    bottom: 65px;
    left: $pxh-notification-margin;
    right: $pxh-notification-margin;
    border-radius: 4px;
    background-color: $gray10;
    color: $gray2;
    border: 1px solid $gray7;
    max-width: 480px;
    display: none;
  }

  .pxh-notifications--visible {
    display: block;
  }

  .pxh-notifications__header {
    height: 40px;
    display: flex;
    border-bottom: 1px solid $gray7;
  }

  .pxh-notifications__title {
    padding-top: $pxh-notification-margin * 2;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .pxh-notifications__action {
    text-align: left;
    padding-left: $pxh-notification-margin * 2;
    padding-top: $pxh-notification-margin * 2;
  }

  .pxh-notifications__link {
    color: $gray5;
    text-decoration: none;
    &:hover {
      color: $primary-blue;
    }
  }

  .pxh-notifications__clear {
    color: $gray5;
    text-decoration: none;
    text-align: right;
    padding-right: $pxh-notification-margin * 2;
    padding-left: $pxh-notification-margin * 2;
    padding-top: $pxh-notification-margin * 2;
    a {
      color: $gray5;
      text-decoration: none;
    }
  }

  .pxh-notifications__badge {

  }

  .pxh-notifications__icon {
    margin-left: $pxh-drawer-margin / 2;
    margin-right: $pxh-drawer-margin / 2;
    float: right;
    padding-top: $pxh-login-magic-centering;
    @include pxh-login--in-state;
    &--important {
      a {
        color: $red;
      }
    }
  }

  // From the @md (tablet) breakpoint and wider,
  // display pxh-login__settings in its narrow state.
  // Remove this class to display the drawer in its wide state.
  @include mq($from: md) {
    .pxh-notifications__icon--narrow\@md {
      @include pxh-login--out-state;
    }
  }

  @include mq($from: lg) {
    .pxh-notifications__icon--wide\@lg {
    @include pxh-login--in-state;
    }
  }

  .pxh-notifications__list {
    max-height: 270px;
    overflow: auto;
  }

  .pxh-notification {
    @include pxh-toast;
    @include pxh-notification--in-state;
  }
  .pxh-notification__icon {
    @include pxh-toast__icon;
    &--low {
      color: $green;
    }
    &--medium {
      olor: $blue;
    }
    &--high {
      color: $orange;
    }
    &--severe {
      color: $red;
    }
  }
  .pxh-notification__text {
    @include pxh-toast__text;
  }
  .pxh-notification__link {
    text-decoration: none;
    color: $gray5;
    &:hover {
      color: $primary-blue;
    }
  }
  .pxh-notification__more {
    @include pxh-toast__more;
  }
  .pxh-notification__more-button {
    @include pxh-toast__more-button;
  }
  .pxh-notification__dismiss {
    @include pxh-toast__dismiss;
  }
  .pxh-notification__dismiss-button {
    @include pxh-toast__dismiss-button;
    color: $gray8;
  }
}

@else {
  .pxh-notification-list {
    display: none;
  }
}
