/*------------------------------------*\
    #components.pxh-spinner
\*------------------------------------*/

$pxh-spinner-alpha: 0.7;

.pxh-spinner {
  margin: 60px auto;
  font-size: 1px;
  position: relative;
  text-indent: -9999em;
  border: 10px solid rgba($gray4, $pxh-spinner-alpha);
  border-left-color: $primary-blue;
  transform: translateZ(0);
  animation: load8 1.2s infinite linear;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  &--small {
    animation-duration: 1.6s;
    border-width: 2px;
    height: 20px;
    width: 20px;
  }
  &--large {
    animation-duration: 1.4s;
    border-width: 15px;
    height: 150px;
    width: 150px;
  }
  &--inverted {
    border-color: rgba($gray8, $pxh-spinner-alpha);
    border-left-color: $primary-blue;
  }
  &--finished {
    display: none;
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
