/*------------------------------------*\
    #components.pxh-toast
\*------------------------------------*/

$pxh-toasts-enabled : false !default;

$pxh-toast-height: 70px;
$pxh-toast-margin: 5px;
$pxh-toast-max-count: 3;

@mixin pxh-override-px-theme-background-color($class-to-chain, $link-color : $primary-blue, $hover-color : $link-color) {
  &.#{$class-to-chain} { // override px-theme
    &.#{$class-to-chain} { // override px-theme
      &.#{$class-to-chain} { // override px-theme
          background-color: $link-color;
        &:link {
          background-color: $link-color;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
}

@mixin pxh-toast {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  color: $gray5;
  background: $gray10;
  &--expanded {
    height: auto;
  }
}

@mixin pxh-toast__icon {
  text-align: center;
  flex-shrink: 0;
  align-self: stretch;
  min-height: $pxh-toast-height;
}

@mixin pxh-toast__text {
  margin: auto;
  padding: $pxh-toast-margin 0 0 ($pxh-toast-margin * 2);
  overflow: hidden;
  position: relative;
  line-height: 1.2;
}

@mixin pxh-toast__more {
  position: absolute;
  top: $pxh-toast-margin * 8;
  width: 100%;
  height: $pxh-toast-margin * 6;
  padding: ($pxh-toast-margin + 2px) 0 $pxh-toast-margin 0;
  background: linear-gradient(to bottom, rgba($gray10,0) 0%, rgba($gray10,1) 50%);
  text-align: center;
  &--expanded {
    position: relative;
    top: 0;
    height: auto;
    background: transparent;
  }
}

@mixin pxh-toast__more-button {
  color: $gray7;
  background-color: $gray10;
  border: 1px solid $gray8;
  border-radius: 5px;
  padding: 1px 5px 0 5px;
  display: inline-block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 14px;
  &:hover {
    color: $primary-blue;
  }
}

@mixin pxh-toast__action {
  flex-shrink: 0;
  text-align: center;
  margin: ($pxh-toast-margin * 3) ($pxh-toast-margin * 2) 0 ($pxh-toast-margin * 2);
}

@mixin pxh-toast__button {
  display: block;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid $gray8;
  padding: 8px;
  background-color: transparent;
  color: $gray5;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  &:hover {
    background-color: $gray9;
  }
}

@mixin pxh-toast__timestamp {
  margin-left: $pxh-toast-margin;
  color: $gray8;
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin pxh-toast__dismiss {
  text-align: center;
  font-size: 18px;
  flex-basis: auto;
  width: $pxh-toast-margin * 8;
  flex-shrink: 0;
}

@mixin pxh-toast__dismiss-button {
  color: $gray7;
  text-decoration: none;
  display: block;
  padding: ($pxh-toast-margin * 5) ($pxh-toast-margin * 2) 0 ($pxh-toast-margin * 2);
  height: $pxh-toast-height;
  &:hover {
    color: $primary-blue;
  }
}

@mixin pxh-toast--in-state-scale {
  height: $pxh-toast-height;
  margin-bottom: $pxh-toast-margin;
  font-size: 16px;
}

@mixin pxh-toast--in-state-opacity {
  @include in-state-opacity;
}

@mixin pxh-toast--out-state-scale {
    @include out-state-scale;
    height: 0;
}

@mixin pxh-toast--in-state {
  @include pxh-toast--in-state-opacity;
  @include pxh-toast--in-state-scale;
}

@mixin pxh-toast--out-state {
  @include pxh-toast--out-state-scale;
  @include out-state-opacity;
}

@if $pxh-toasts-enabled == true {
  .pxh-toasts {
    @include pxh-fancy-scrollbar;
    position: fixed;
    top: 60px + 1px + 5px;
    right: $pxh-toast-margin;
    left: $pxh-toast-margin;
    max-height: ($pxh-toast-height * $pxh-toast-max-count) + ($pxh-toast-height / 2) + ($pxh-toast-margin * ($pxh-toast-max-count - 1));
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 300;
    @include mq($from: md) {
      &--narrow\@md {
        left: auto;
        width: 420px;
      }
    }
    @include mq($from: lg) {
      &--wide\@lg {
        left: auto;
        width: 480px;
      }
    }
  }

  @keyframes pxh-toast--animate-in {
    0% {
      @include pxh-toast--out-state;
    }
    33% {
      @include pxh-toast--in-state-scale;
      @include out-state-opacity;
    }
    66% {
      @include pxh-toast--in-state;
    }
    100% {
      @include pxh-toast--in-state;
    }
  }

  @keyframes pxh-toast--animate-out {
    0% {
      @include pxh-toast--in-state;
    }
    33% {
      @include pxh-toast--in-state-scale;
      @include out-state-opacity;
    }
    66% {
      @include pxh-toast--out-state;
    }
    100% {
      @include pxh-toast--out-state;
    }
  }

  .pxh-toast {
    @include pxh-toast--in-state;
    @include pxh-toast;
    &--animate-in {
      animation-fill-mode: forwards;
      animation-duration: 1000ms;
      animation-name: pxh-toast--animate-in;
    }
    &--animate-out {
      animation-fill-mode: forwards;
      animation-duration: 1000ms;
      animation-name: pxh-toast--animate-out;
    }
  }

  .pxh-toast__action {
    @include pxh-toast__action;
  }

  .pxh-toast__button {
    max-width: $pxh-toast-height * 2;
    @include pxh-toast__button;
    @include pxh-override-px-theme-color('pxh-toast__button', $gray5);
    @include pxh-override-px-theme-background-color('pxh-toast__button', $gray10, $gray9);
  }

  .pxh-toast__icon {
    @include pxh-toast__icon;
    color: $white;
    padding-top: $pxh-toast-margin * 4;
    flex-basis: $pxh-toast-height;
    font-size: 28px;
    &--green {
      background-color: $green;
    }
    &--blue {
      background-color: $blue;
    }
    &--orange {
      background-color: $orange;
    }
    &--red {
      background-color: $red;
    }
  }

  .pxh-toast__text {
    @include pxh-toast__text;
  }

  .pxh-toast__more {
    @include pxh-toast__more;
  }

  .pxh-toast__more-button {
    @include pxh-toast__more-button;
    @include pxh-override-px-theme-color('pxh-toast__more-button');
    @include pxh-override-px-theme-background-color('pxh-toast__more-button', $gray10, $gray9);
  }

  .pxh-toast__dismiss {
    @include pxh-toast__dismiss;
  }

  .pxh-toast__dismiss-button {
    @include pxh-toast__dismiss-button;
    @include pxh-override-px-theme-color('pxh-toast__dismiss-button');
  }
}

@else {
  .pxh-toasts {
    display: none;
  }
}
