// Left navigation drawer
.pxh-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -2 * $padding-unit;
  width: 24 * $padding-unit;
  padding-left: 2 * $padding-unit;
  height: 100%;
  background-color: $gray10;
          transition: all 200ms ease-out;
}

@include mq($until: md) {
  .pxh-drawer--hidden-until\@md {
    left: -24 * $padding-unit;
  }
}

@include mq($from: md) {
  .pxh-drawer--narrow\@md {
    width: 7 * $padding-unit;
    left: -2 * $padding-unit;
  }
}

// "Hamburger" button for toggling the drawer open/closed
.pxh-drawer-toggle {
  margin: $padding-unit * 1.5 0 0 ($padding-unit * 1.5);
  height: $padding-unit * 3.5;
}

@include mq($from: md) {
}

.pxh-drawer-toggle__link {
  color: $white;
  transition: all 600ms ease-out;
  &:link,
  &:visited {
    color: $white;
  }
}

.pxh-drawer-toggle__icon {
  font-size: 30px;
}

.pxh-drawer__spacer {
  flex-grow: 1;
}
