/*------------------------------------*\
    #PXH-NAVIGATION
\*------------------------------------*/

$pxh-navigation-color: $gray7 !default;
$pxh-navigation-bg-color: transparent !default;

$pxh-navigation-selected-bg-color: $gray9 !default;
$pxh-navigation-selected-color: $white !default;

$pxh-navigation-active-bg-color: $gray9 !default;
$pxh-navigation-active-color: $white !default;

$pxh-navigation-sub-color: $gray7 !default;

$pxh-navigation-sub-selected-bg-color: transparent !default;
$pxh-navigation-sub-selected-color: $white !default;

$pxh-navigation-hover-bg-color: $gray9 !default;
$pxh-navigation-hover-color: $gray4 !default;

$pxh-navigation-sub-hover-bg-color: transparent !default;
$pxh-navigation-sub-hover-color: $gray4 !default;

$pxh-drawer-margin: 20px !default; // magic number ... fix this
$pxh-drawer-width-wide: 260px !default; // magic number ... fix this

$pxh-navigation-link-height: 48px;
$pxh-navigation-sub-link-height: 30px;
$pxh-navigation-divider-margin: 10px;

$pxh-login-height:  60px !default;

/*------------------------------------*\
    #pxh-navigation
\*------------------------------------*/

.pxh-navigation {
  clear: both;
  border-top: 1px solid rgba(0,0,0,0.15);
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  animation-duration: 300ms;
  padding-bottom: ($pxh-login-height * 2) + 5px;
}

.pxh-navigation__item-icon {
  text-align: center;
  float: left;
  display: block;
  width: $pxh-drawer-margin;
  padding-top: 2px;
}

.pxh-navigation__link {
  font-size: $inuit-base-font-size;
  display: block;
  width: 100%;
  height: $pxh-navigation-link-height;
  float: left;
  clear: left;
  padding: $pxh-drawer-margin / 1.5 2px 0 $pxh-drawer-margin;
}

/*------------------------------------*\
    #pxh-badge
\*------------------------------------*/

// mixin for "animate in" styles
//
// These styles are applied at the end of an entrance animation
// when the element toggles from hidden to visible, or at the
// beginning of an exit animation when the elemenbt toggles from
// visible to hidden.
//
// These styles are also applied to the element when it is visible
// by default, absent an animation.
@mixin pxh-badge--in-styles {
  font-size: 12px;
  opacity: 1;
  visibility: visible;
}

// mixin for "animate out" styles
//
// These styles are applied at the end of an exit animation
// when the element toggles from visible to hidden, or at the
// beginning of an entrance animation when the element toggles from
// hidden to visible.
//
// These styles are also applied to the element when it is hidden
// by default, absent an animation.
@mixin pxh-badge--out-styles {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

// keyframes for "animate in" styles
//
// This animation sequence is applied when the element
// toggles from hidden to visible.
@keyframes pxh-badge--in {
  0% {
    // start the entrance animation with the "hidden by default" styles
    @include pxh-badge--out-styles;
  }
  1% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  50% {
    font-size: 12px;
    opacity: 0;
    visibility: visible;
  }
  100% {
    // end the entrance animation with the "visible by default" styles
    @include pxh-badge--in-styles;
  }
}

// keyframes for "animate out" styles
//
// This animation sequence is applied when the element
// toggles from visible to hidden.
@keyframes pxh-badge--out {
  0% {
    // start the exit animation with the "visible by default" styles
    @include pxh-badge--in-styles;
  }
  50% {
    font-size: 12px;
    opacity: 0;
    visibility: visible;
  }
  99% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  100% {
    // end the exit animation with the "hidden by default" styles
    @include pxh-badge--out-styles;
  }
}

.pxh-badge {
  .pxh-navigation__link &,
  .pxh-navigation__sub-link & {
    // include the animation boilerplate with corresponding keyframes
    @include pxh-animation(pxh-badge--in);
    // include the "visible by default" styles
    @include pxh-badge--in-styles;
  }
  .pxh-navigation__link--selected &,
  .pxh-navigation__sub-link--selected & {
    &--navigation {
      // when badge is on the current state the background color should be knocked out
      background-color: $gray10;
    }
    // override the rule above in non-navigation contexts
    // i'm deeply unhappy about doing it this way...
    &--primary {
      background-color: $primary-blue;
    }
    &--important {
      background-color: $alert-red;
    }
    &--warning {
      background-color: $alert-orange;
    }
    &--error {
      background-color: $alert-yellow;
    }
    &--info {
      background-color: $alert-blue;
    }
    &--healthy-black {
      background-color: $black;
    }
    &--healthy-white {
      background-color: $white;
    }
  }
}

/*------------------------------------*\
    #pxh-navigation__item-text
\*------------------------------------*/

// mixin for "animate in" styles
//
// These styles are applied at the end of an entrance animation
// when the element toggles from hidden to visible, or at the
// beginning of an exit animation when the elemenbt toggles from
// visible to hidden.
//
// These styles are also applied to the element when it is visible
// by default, absent an animation.
@mixin pxh-navigation__item-text--in-styles {
  font-size: $inuit-base-font-size;
  opacity: 1;
  visibility: visible;
}

// mixin for "animate out" styles
//
// These styles are applied at the end of an exit animation
// when the element toggles from visible to hidden, or at the
// beginning of an entrance animation when the element toggles from
// hidden to visible.
//
// These styles are also applied to the element when it is hidden
// by default, absent an animation.
@mixin pxh-navigation__item-text--out-styles {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

// keyframes for "animate in" styles
//
// This animation sequence is applied when the element
// toggles from hidden to visible.
@keyframes pxh-navigation__item-text--in {
  0% {
    @include pxh-navigation__item-text--out-styles;
  }
  1% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  50% {
    font-size: $inuit-base-font-size;
    opacity: 0;
    visibility: visible;
  }
  100% {
    @include pxh-navigation__item-text--in-styles;
  }
}

// keyframes for "animate out" styles
//
// This animation sequence is applied when the element
// toggles from visible to hidden.
@keyframes pxh-navigation__item-text--out {
  0% {
    @include pxh-navigation__item-text--in-styles;
  }
  50% {
    font-size: $inuit-base-font-size;
    opacity: 0;
    visibility: visible;
  }
  99% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  100% {
    @include pxh-navigation__item-text--out-styles;
  }
}

.pxh-navigation__item-text {
  @include pxh-navigation__item-text--in-styles;
  @include pxh-animation(pxh-navigation__item-text--in);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: $pxh-drawer-margin;
  max-width: $pxh-drawer-width-wide - ($pxh-drawer-margin * 4); // has to be narrower than the available space to accomodate potential pxh-badge
  float: left;
  opacity: 1;
}

// hide sub-lists (such as sub-navigation for microapps besides the one
// the user is currently using) with this class
// this class should be toggled as the user navigates between microapps
.pxh-navigation__sub-list--hidden {
  display: none;
}

/*------------------------------------*\
    #pxh-navigation__sub-link
\*------------------------------------*/

// mixin for "animate in" styles
//
// These styles are applied at the end of an entrance animation
// when the element toggles from hidden to visible, or at the
// beginning of an exit animation when the elemenbt toggles from
// visible to hidden.
//
// These styles are also applied to the element when it is visible
// by default, absent an animation.
@mixin pxh-navigation__sub-link--in-styles {
  font-size: $inuit-base-font-size;
  opacity: 1;
  visibility: visible;
  height: $pxh-navigation-sub-link-height;
  padding: $pxh-drawer-margin / 1.5 2px 0 $pxh-drawer-margin * 3;
}

// mixin for "animate out" styles
//
// These styles are applied at the end of an exit animation
// when the element toggles from visible to hidden, or at the
// beginning of an entrance animation when the element toggles from
// hidden to visible.
//
// These styles are also applied to the element when it is hidden
// by default, absent an animation.
@mixin pxh-navigation__sub-link--out-styles {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
  padding: 0;
}

// keyframes for "animate in" styles
//
// This animation sequence is applied when the element
// toggles from hidden to visible.
@keyframes pxh-navigation__sub-link--in {
  0% {
    @include pxh-navigation__sub-link--out-styles;
  }
  1% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
    height: 0;
    padding: 0;
  }
  75% {
    font-size: $inuit-base-font-size;
    opacity: 0;
    visibility: visible;
    height: $inuit-base-spacing-unit * 2;
    padding: ($inuit-base-spacing-unit / 2) ($inuit-base-spacing-unit / 8) 0 $pxh-drawer-margin * 3;
  }
  100% {
    @include pxh-navigation__sub-link--in-styles;
  }
}

// keyframes for "animate out" styles
//
// This animation sequence is applied when the element
// toggles from visible to hidden.
@keyframes pxh-navigation__sub-link--out {
  0% {
    @include pxh-navigation__sub-link--in-styles;
  }
  25% {
    opacity: 0;
    visibility: visible;
    height: $inuit-base-spacing-unit * 2;
    padding: ($inuit-base-spacing-unit / 2) ($inuit-base-spacing-unit / 8) 0 $pxh-drawer-margin * 3;
  }
  99% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
    height: 0;
    padding: 0;
  }
  100% {
    @include pxh-navigation__sub-link--out-styles;
  }
}

.pxh-navigation__sub-link {
  @include pxh-animation(pxh-navigation__sub-link--in);
  @include pxh-navigation__sub-link--in-styles;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $pxh-drawer-width-wide;
  text-decoration: none;
}

.pxh-navigation__sub-item-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: $pxh-drawer-width-wide - ($pxh-drawer-margin * 5); // has to be narrower than the available space to accomodate potential pxh-badge
  float: left;
  opacity: 1;
}

.pxh-navigation__sub-link--selected {
  background-color: $pxh-navigation-sub-selected-bg-color;
  color: $pxh-navigation-sub-selected-color;
  &:link,
  &:visited {
    background-color: $pxh-navigation-sub-selected-bg-color;
    color: $pxh-navigation-sub-selected-color;
  }
  &:hover {
    background-color: $pxh-navigation-sub-selected-bg-color;
    color: $pxh-navigation-sub-selected-color;
  }
}

/*------------------------------------*\
    #pxh-navigation__sub-item--divider
\*------------------------------------*/

.pxh-navigation__sub-item--divider {
  margin-top: $pxh-navigation-divider-margin * 1.5;
  margin-left: $pxh-drawer-margin * 3;
  margin-right: $pxh-drawer-margin;
  display: block;
  height: 1px;
  background-color: $gray9;
  transition: all 200ms linear;
  transition-delay: 200ms;
}

/*------------------------------------*\
    #pxh-navigation responsive rules
\*------------------------------------*/

@include mq($from: md) {
  .pxh-navigation--narrow\@md {
    .pxh-navigation__item-text {
      @include pxh-animation(pxh-navigation__item-text--out);
      @include pxh-navigation__item-text--out-styles;
    }
    .pxh-navigation__sub-link {
      @include pxh-animation(pxh-navigation__sub-link--out);
      @include pxh-navigation__sub-link--out-styles;
    }
    .pxh-navigation__sub-item:last-of-type {
      .pxh-navigation__sub-link { // really don't like nesting but don't know how else to target this
        margin-bottom: 0;
      }
    }
    .pxh-navigation__sub-item--divider {
      margin-top: 0;
      height: 0;
      transition-delay: 0;
    }
    .pxh-badge {
      @include pxh-animation(pxh-badge--out);
      @include pxh-badge--out-styles;
    }
  }
}

@include mq($from: lg) {
  .pxh-navigation--wide\@lg {
    .pxh-navigation__item-text {
      @include pxh-animation(pxh-navigation__item-text--in);
      @include pxh-navigation__item-text--in-styles;
    }
    .pxh-navigation__sub-link {
      @include pxh-animation(pxh-navigation__sub-link--in);
      @include pxh-navigation__sub-link--in-styles;
    }
    .pxh-navigation__sub-item--divider {
      margin-top: $pxh-navigation-divider-margin * 1.5;
      margin-left: $pxh-drawer-margin * 3;
      margin-right: $pxh-drawer-margin;
      display: block;
      height: 1px;
      background-color: $gray9;
      transition: all 200ms linear;
      transition-delay: 200ms;
    }
    .pxh-badge {
      @include pxh-animation(pxh-badge--in);
      @include pxh-badge--in-styles;
    }
  }
}

/*------------------------------------*\
    #px-theme overrides
\*------------------------------------*/

.pxh-navigation__list.pxh-navigation__list.pxh-navigation__list { // chained to override px-theme
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-navigation__link.pxh-navigation__link.pxh-navigation__link,
.pxh-navigation__link:link.pxh-navigation__link:link.pxh-navigation__link:link,
.pxh-navigation__link:visited.pxh-navigation__link:visited.pxh-navigation__link:visited { // chained to override px-theme
  text-decoration: none;
  color: $pxh-navigation-color;
}

.pxh-navigation__link:hover.pxh-navigation__link:hover.pxh-navigation__link:hover { // chained to override px-theme
  background-color: $pxh-navigation-hover-bg-color;
  color: $pxh-navigation-hover-color;
}

.pxh-navigation__link--selected.pxh-navigation__link--selected.pxh-navigation__link--selected,
.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link.pxh-navigation__link--selected:link,
.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited.pxh-navigation__link--selected:visited,
.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover.pxh-navigation__link--selected:hover { // chained to override px-theme
  background-color: $pxh-navigation-selected-bg-color;
  color: $pxh-navigation-selected-color;
}

.pxh-navigation__link--active.pxh-navigation__link--active.pxh-navigation__link--active,
.pxh-navigation__link--active:link.pxh-navigation__link--active:link.pxh-navigation__link--active:link,
.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited.pxh-navigation__link--active:visited {
  background-color: $pxh-navigation-active-bg-color;
  color: $pxh-navigation-active-color;
}

.pxh-navigation__sub-list.pxh-navigation__sub-list.pxh-navigation__sub-list { // chained to override px-theme
  clear: both;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pxh-navigation__sub-item:last-of-type {
  .pxh-navigation__sub-link { // really don't like nesting but don't know how else to target this
    margin-bottom: $pxh-drawer-margin / 2;
  }
}

.pxh-navigation__sub-link.pxh-navigation__sub-link.pxh-navigation__sub-link,
.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link.pxh-navigation__sub-link:link,
.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited.pxh-navigation__sub-link:visited { // chained to override px-theme
  color: $pxh-navigation-sub-color;
}

.pxh-navigation__sub-link:hover.pxh-navigation__sub-link:hover.pxh-navigation__sub-link:hover { // chained to override px-theme
  background-color: $pxh-navigation-sub-hover-bg-color;
  color: $pxh-navigation-sub-hover-color;
}

.pxh-navigation__sub-link--selected.pxh-navigation__sub-link--selected.pxh-navigation__sub-link--selected,
.pxh-navigation__sub-link--selected:link.pxh-navigation__sub-link--selected:link.pxh-navigation__sub-link--selected:link,
.pxh-navigation__sub-link--selected:visited.pxh-navigation__sub-link--selected:visited.pxh-navigation__sub-link--selected:visited { // chained to override px-theme
  background-color: $pxh-navigation-sub-selected-bg-color;
  color: $pxh-navigation-sub-selected-color;
}

.pxh-navigation__sub-link--settings.pxh-navigation__sub-link--settings.pxh-navigation__sub-link--settings,
.pxh-navigation__sub-link--settings:link.pxh-navigation__sub-link--settings:link.pxh-navigation__sub-link--settings:link,
.pxh-navigation__sub-link--settings:visited.pxh-navigation__sub-link--settings:visited.pxh-navigation__sub-link--settings:visited { // chained to override px-theme
  color: $primary-blue;
}

.pxh-navigation__sub-link--settings:hover.pxh-navigation__sub-link--settings:hover.pxh-navigation__sub-link--settings:hover { // chained to override px-theme
  color: $white;
}
