/*------------------------------------*\
    #components.pxh-view
\*------------------------------------*/

$pxh-drawer-width-wide: 260px !default; // magic number ... fix this
$pxh-drawer-width-narrow: 60px !default; // magic number ... fix this
$pxh-drawer-margin: 20px !default;
$pxh-drawer-bg-color: $gray10 !default;
$pxh-view-header-height: 61px !default; // locked to current height of px-context-browser + 1px for bottom border

$pxh-view-background-colors: (
  white: $white, 
  gray1: $gray1, 
  gray2: $gray2, 
  gray3: $gray3, 
  gray4: $gray4, 
  gray5: $gray5, 
  gray6: $gray6, 
  gray7: $gray7, 
  gray8: $gray8, 
  gray9: $gray9, 
  gray10: $gray10, 
  black: $black
 );

.pxh-wrapper {
  padding-top: $pxh-view-header-height;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes pxh-view--animate-wide {
  0% {
    margin-left: $pxh-drawer-width-wide;
  }
  33% {
    margin-left: $pxh-drawer-width-wide;
  }
  66% {
    margin-left: $pxh-drawer-width-narrow;
  }
  100% {
    margin-left: $pxh-drawer-width-narrow;
  }
}

@keyframes pxh-view--animate-narrow {
  0% {
    margin-left: $pxh-drawer-width-narrow;
  }
  33% {
    margin-left: $pxh-drawer-width-wide;
  }
  100% {
    margin-left: $pxh-drawer-width-wide;
  }
}

@keyframes pxh-view--animate-full-to-wide {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 0;
  }
  100% {
    margin-left: $pxh-drawer-width-narrow;
  }
}

.pxh-view {
  &--animate-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-view--animate-wide;
  }
  &--animate-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-name: pxh-view--animate-narrow;
  }
  &--animate-full-to-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view--animate-full-to-wide;
  }
}

.pxh-view {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  // transition: all 300ms ease-in-out;
}

@each $color-slug, $color-variable in $pxh-view-background-colors {
  .pxh-view--#{$color-slug} {
    background-color: $color-variable;
  }
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider,
  // the view is displayed in its wide state, which accounts
  // for the width of the narrow state of the drawer on the left.
  @include mq($from: md) {
    .pxh-view--wide\@md {
      margin-left: $pxh-drawer-width-narrow;
      // transition-delay: 500ms;
    }
  }

  // From the @lg (desktop) breakpoint and wider,
  // add this class to display the view in its narrow state,
  // which accounts for the width of the wide state of the drawer.
  @include mq($from: lg) {
    .pxh-view--narrow\@lg {
      margin-left: $pxh-drawer-width-wide;
      // transition-delay: 100ms;
    }
  }

  @include mq($from: lg) {
    .pxh-view--wide\@lg {
      margin-left: $pxh-drawer-width-narrow;
    }
  }
}

/*------------------------------------*\
    #PXH-VIEW-HEADER
\*------------------------------------*/

@keyframes pxh-view-header--animate-wide {
  0% {
    left: $pxh-drawer-width-wide;
  }
  33% {
    left: $pxh-drawer-width-wide;
  }
  66% {
    left: $pxh-drawer-width-narrow;
  }
  100% {
    left: $pxh-drawer-width-narrow;
  }
}

@keyframes pxh-view-header--animate-narrow {
  0% {
    left: $pxh-drawer-width-narrow;
  }
  33% {
    left: $pxh-drawer-width-wide;
  }
  100% {
    left: $pxh-drawer-width-wide;
  }
}

@keyframes pxh-view-header--animate-full-to-wide {
  0% {
    left: 0;
  }
  50% {
    left: 0;
  }
  100% {
    left: $pxh-drawer-width-narrow;
  }
}

.pxh-view-header {
  &--animate-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-view-header--animate-wide;
  }
  &--animate-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-name: pxh-view-header--animate-narrow;
  }
  &--animate-full-to-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view-header--animate-full-to-wide;
  }
}

.pxh-view-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba($gray7, 0.8);
  height: $pxh-view-header-height;
  background-color: $white;
  // transition: all 300ms ease-in-out;
  z-index: 250;
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider,
  // the view header is displayed in its wide state, which accounts
  // for the width of the narrow state of the drawer on the left.
  @include mq($from: md) {
    .pxh-view-header--wide\@md {
      left: $pxh-drawer-width-narrow;
      // transition-delay: 500ms;
    }
  }

  @include mq($from: lg) {
    .pxh-view-header--wide\@lg {
      left: $pxh-drawer-width-narrow;
    }
  }

  @include mq($until: md) {
    .pxh-view-header--nudge-until\@md {
      padding-left: $pxh-drawer-width-narrow;
    }
  }

  // From the @lg (desktop) breakpoint and wider,
  // add this class to display the view header in its narrow state,
  // which accounts for the width of the wide state of the drawer.
  @include mq($from: lg) {
    .pxh-view-header--narrow\@lg {
      left: $pxh-drawer-width-wide;
      // transition-delay: 100ms;
    }
  }
}

.pxh-view-header__title {
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: $inuit-base-spacing-unit;
  text-align: center;
  font-size: $inuit-base-font-size * 1.5;
}

.pxh-view-header__title-link.pxh-view-header__title-link.pxh-view-header__title-link  { // chained to override px-theme
  color: $black;
  text-decoration: none;
}

.pxh-view-header__title-link:link.pxh-view-header__title-link:link.pxh-view-header__title-link:link,
.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited { // chained to override px-theme
  color: $black;
}

/*------------------------------------*\
    #PXH-VIEW-HEADER-DRAWER-TOGGLE
\*------------------------------------*/

.pxh-view-header-drawer-toggle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 500; // making the same as overlay to overcome IE10 clickthru bug with overlay
  transition: all 300ms ease-in-out;
}

// Hide the toggle button in the view-header. This class is
// used even though the drawer covers the view-header toggle
// button, because sometimes click events on the drawer toggle
// are intercepted by the view-header toggle as well, resulting
// in a bounce scenario.
.pxh-view-header-drawer-toggle--hidden {
  left: $pxh-drawer-width-narrow * -1;
  opacity: 0;  
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider, hide the
  // toggle button in the view-header, as the toggle in the
  // narrow left drawer is persistently displayed instead.
  @include mq($from: md) {
    .pxh-view-header-drawer-toggle--hidden\@md {
        left: $pxh-drawer-width-narrow * -1;
        opacity: 0;
    }
  }
}

.pxh-view-header-drawer-toggle__link {
  display: block;
  height: $pxh-drawer-width-narrow;
  width: $pxh-drawer-width-narrow;
  padding-top: $pxh-drawer-margin;
  padding-left: $pxh-drawer-margin;
  color: $black;
  text-decoration: none;
  &:link,
  &:visited {
    color: $black;
  }
}
