/*------------------------------------*\
    #components.pxh-view
\*------------------------------------*/

.pxh-wrapper {
  padding-top: $pxhtheme-view-header-height;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes pxh-view--animate-wide {
  0% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  33% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  66% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
  100% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
}

@keyframes pxh-view--animate-narrow {
  0% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
  33% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  100% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
}

@keyframes pxh-view--animate-full-to-wide {
  0% {
    margin-#{$pxhtheme-drawer-side}: 0;
  }
  50% {
    margin-#{$pxhtheme-drawer-side}: 0;
  }
  100% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
}

@keyframes pxh-view--animate-full-to-narrow {
  0% {
    margin-#{$pxhtheme-drawer-side}: 0;
  }
  50% {
    margin-#{$pxhtheme-drawer-side}: 0;
  }
  100% {
    margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
}

.pxh-view {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &--animate-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-view--animate-wide;
  }

  &--animate-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-name: pxh-view--animate-narrow;
  }

  &--animate-full-to-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view--animate-full-to-wide;
  }

  &--animate-full-to-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view--animate-full-to-narrow;
  }
}

@each $color-slug, $color-variable in $pxhtheme-view-bg-colors {
  .pxh-view--#{$color-slug} {
    background-color: $color-variable;
  }
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider,
  // the view is displayed in its wide state, which accounts
  // for the width of the narrow state of the drawer on the left.
  @include mq($from: md) {
    .pxh-view--wide\@md {
      margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
    }
  }

  // From the @lg (desktop) breakpoint and wider,
  // add this class to display the view in its narrow state,
  // which accounts for the width of the wide state of the drawer.
  @include mq($from: lg) {
    .pxh-view--narrow\@lg {
      margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
    }
  }

  @include mq($from: lg) {
    .pxh-view--wide\@lg {
      margin-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
    }
  }
}

/*------------------------------------*\
    #PXH-VIEW-HEADER
\*------------------------------------*/

@keyframes pxh-view-header--animate-wide {
  0% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  33% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  66% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
  100% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
}

@keyframes pxh-view-header--animate-narrow {
  0% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
  33% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
  100% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
}

@keyframes pxh-view-header--animate-full-to-wide {
  0% {
    #{$pxhtheme-drawer-side}: 0;
  }
  50% {
    #{$pxhtheme-drawer-side}: 0;
  }
  100% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
  }
}

@keyframes pxh-view-header--animate-full-to-narrow {
  0% {
    #{$pxhtheme-drawer-side}: 0;
  }
  50% {
    #{$pxhtheme-drawer-side}: 0;
  }
  100% {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
  }
}

.pxh-view-header {
  position: fixed;
  top: 0;
  #{$pxhtheme-drawer-opposite-side}: 0;
  #{$pxhtheme-drawer-side}: 0;
  background-color: $pxhtheme-view-header-bg-color;
  border-style: solid;
  border-color: $pxhtheme-view-header-border-color;
  border-width: $pxhtheme-view-header-border-width;
  height: $pxhtheme-view-header-height;
  z-index: 250;

  &--animate-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1000ms;
    animation-name: pxh-view-header--animate-wide;
  }

  &--animate-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-name: pxh-view-header--animate-narrow;
  }

  &--animate-full-to-wide {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view-header--animate-full-to-wide;
  }

  &--animate-full-to-narrow {
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 250ms;
    animation-name: pxh-view-header--animate-full-to-narrow;
  }
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider,
  // the view header is displayed in its wide state, which accounts
  // for the width of the narrow state of the drawer on the left.
  @include mq($from: md) {
    .pxh-view-header--wide\@md {
      #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
    }
  }

  @include mq($from: lg) {
    .pxh-view-header--wide\@lg {
      #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
    }
  }

  @include mq($until: md) {
    .pxh-view-header--nudge-until\@md {
      padding-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow;
    }
  }

  // From the @lg (desktop) breakpoint and wider,
  // add this class to display the view header in its narrow state,
  // which accounts for the width of the wide state of the drawer.
  @include mq($from: lg) {
    .pxh-view-header--narrow\@lg {
      #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-wide;
    }
  }
}

.pxh-view-header__title {
  font-weight: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: $inuit-base-spacing-unit;
  text-align: center;
  font-size: $inuit-base-font-size * 1.5;
}

.pxh-view-header__title-link.pxh-view-header__title-link.pxh-view-header__title-link  { // chained to override px-theme
  color: $pxhtheme-view-header-title-link-text-color;
  text-decoration: none;
}

.pxh-view-header__title-link:link.pxh-view-header__title-link:link.pxh-view-header__title-link:link,
.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited { // chained to override px-theme
  color: $pxhtheme-view-header-title-link-text-color;
}

/*------------------------------------*\
    #PXH-VIEW-HEADER-DRAWER-TOGGLE
\*------------------------------------*/

.pxh-view-header-drawer-toggle {
  position: fixed;
  top: 0;
  #{$pxhtheme-drawer-side}: 0;
  opacity: 1;
  z-index: 500; // making the same as overlay to overcome IE10 clickthru bug with overlay
  transition: all 300ms ease-in-out;

  &__icon {
    fill: $pxhtheme-view-header-drawer-toggle-icon-color;
  }

  // Hide the toggle button in the view-header. This class is
  // used even though the drawer covers the view-header toggle
  // button, because sometimes click events on the drawer toggle
  // are intercepted by the view-header toggle as well, resulting
  // in a bounce scenario.
  &--hidden {
    #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow * -1;
    opacity: 0;  
  }

  &__link {
    display: block;
    height: $pxhtheme-drawer-width-narrow;
    width: $pxhtheme-drawer-width-narrow;
    padding-top: $pxhtheme-drawer-margin;
    padding-#{$pxhtheme-drawer-side}: $pxhtheme-drawer-margin;
    text-decoration: none;
  }
}

// nest all responsive styles within a pxh-chromeful class (applied to the <body> element so they only apply if the chrome is present
// this violates our principle of immutability for class styles, but yolo
.pxh-chromeful {
  // From the @md (tablet) breakpoint and wider, hide the
  // toggle button in the view-header, as the toggle in the
  // narrow left drawer is persistently displayed instead.
  @include mq($from: md) {
    .pxh-view-header-drawer-toggle--hidden\@md {
        #{$pxhtheme-drawer-side}: $pxhtheme-drawer-width-narrow * -1;
        opacity: 0;
    }
  }
}
