/*------------------------------------*\
    #PXH-LOGIN
\*------------------------------------*/

$pxh-login-height:  $inuit-base-spacing-unit * 3;
$pxh-login-padding: $inuit-base-spacing-unit / 2;
$pxh-login-avatar-height-width: $inuit-base-spacing-unit * 2;

@include keyframes(pxh-login--out) {
  0% {
    max-height: 200px;
    font-size: $inuit-base-font-size;
    opacity: 1;
    visibility: visible;
    padding-top: $pxh-login-avatar-height-width / 4;
  }
  50% {
    max-height: 200px;
    font-size: $inuit-base-font-size;
    opacity: 0;
    visibility: visible;
    padding-top: $pxh-login-avatar-height-width / 4;
  }
  99% {
    max-height: 0;
    font-size: 0;
    opacity: 0;
    visibility: visible;
    padding-top: 0;

  }
  100% {
    max-height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
  }
}



// @include keyframes(pxh-login--in) {
//   0% {
//     font-size: 0;
//     opacity: 0;
//     visibility: hidden;
//   }
//   1% {
//     font-size: 0;
//     opacity: 0;
//     visibility: visible;
//   }
//   50% {
//     font-size: $inuit-base-font-size;
//     opacity: 0;
//     visibility: visible;
//   }
//   100% {
//     font-size: $inuit-base-font-size;
//     opacity: 1;
//     visibility: visible;
//   }
// }

@include keyframes(pxh-login--in) {
  0% {
    max-height: 0;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
  }
  1% {
    max-height: 0;
    font-size: 0;
    opacity: 0;
    visibility: visible;
    padding-top: 0;
  }
  50% {
    max-height: 0;
    font-size: 0;
    opacity: 0;
    visibility: visible;
    padding-top: 0;
  }
  51% {
    max-height: 200px;
    font-size: $inuit-base-font-size;
    opacity: 0;
    visibility: visible;
    padding-top: $pxh-login-avatar-height-width / 4;
  }
  100% {
    max-height: 200px;
    font-size: $inuit-base-font-size;
    opacity: 1;
    visibility: visible;
    padding-top: $pxh-login-avatar-height-width / 4;
  }
}

.pxh-login {
  background-color: $pxh-drawer-bg-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $pxh-login-padding;
}

.pxh-login__link.pxh-login__link.pxh-login__link,
.pxh-login__link:link.pxh-login__link:link.pxh-login__link:link,
.pxh-login__link:visited.pxh-login__link:visited.pxh-login__link:visited { // chained to override px-theme
  display: block;
  color: $white;
  text-decoration: none;
}

.pxh-login__avatar {
  float: left;
}

.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon {  // yes, in fact, it DOES take a five-deep class chain to override px-theme here
  height: $pxh-login-avatar-height-width;
  width: $pxh-login-avatar-height-width;
  font-size: $inuit-base-font-size * 1.5; // needs a !important with anything less than a five-deep class chain
  padding-left: $inuit-base-spacing-unit / 2.5;
  padding-top: $inuit-base-spacing-unit / 5;
  background-color: $gray7;
  color: $black;
  border-radius: 100%;
}

.pxh-login__avatar-image {
  height: $pxh-login-avatar-height-width;
  width: $pxh-login-avatar-height-width;
  border-radius: 100%;
}

.pxh-login__name {
  padding: 0 0 0 $pxh-login-padding;
  float: left;

  animation-name: pxh-login--in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  font-size: $inuit-base-font-size;
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  padding-top: $pxh-login-avatar-height-width / 4;
}

// From the @md (tablet) breakpoint and wider,
// display pxh-login__name in its narrow state.
// Remove this class to display the drawer in its wide state.
@include mq($from: md) {
  .pxh-login__name--narrow\@md {
    animation-name: pxh-login--out;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    font-size: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
  }
}

.pxh-login__caret {
  float: left;
  padding: 0 0 0 $pxh-login-padding / 2;
  animation-name: pxh-login--in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  font-size: $inuit-base-font-size;
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  padding-top: $pxh-login-avatar-height-width / 4;
}

// From the @md (tablet) breakpoint and wider,
// display pxh-login__caret in its narrow state.
// Remove this class to display the drawer in its wide state.
@include mq($from: md) {
  .pxh-login__caret--narrow\@md {
    animation-name: pxh-login--out;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    font-size: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
  }
}

.pxh-login__settings {
  float: right;
  padding: $pxh-login-avatar-height-width / 4 0 0 0;
  animation-name: pxh-login--in;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;

  font-size: $inuit-base-font-size;
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  padding-top: $pxh-login-avatar-height-width / 4;
}

// From the @md (tablet) breakpoint and wider,
// display pxh-login__settings in its narrow state.
// Remove this class to display the drawer in its wide state.
@include mq($from: md) {
  .pxh-login__settings--narrow\@md {
    animation-name: pxh-login--out;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;

    font-size: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    padding-top: 0;
  }
}

.pxh-login__settings-link.pxh-login__settings-link.pxh-login__settings-link,
.pxh-login__settings-link:link.pxh-login__settings-link:link.pxh-login__settings-link:link,
.pxh-login__settings-link:visited.pxh-login__settings-link:visited.pxh-login__settings-link:visited { // chained to override px-theme
  float: right;
  color: $white;
  text-decoration: none;
}

/*------------------------------------*\
    #PXH-LOGIN-MENU
\*------------------------------------*/

.pxh-login-menu {
  position: absolute;
  bottom: $inuit-base-spacing-unit * 2;
  left: -9999px;
  background-color: $white;
  color: $black;
  width: $inuit-base-spacing-unit * 8;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
}

.pxh-login-menu--visible {
  left: $inuit-base-spacing-unit * 2;
}

.pxh-login-menu__list.pxh-login-menu__list.pxh-login-menu__list { // chained to override px-theme
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-login-menu__divider {
  display: block;
  border-top: 1px solid $gray3;
}

.pxh-login-menu__link.pxh-login-menu__link { // chained to override px-theme
  display: block;
  padding: $inuit-base-spacing-unit;
  text-decoration: none;
  color: $black;
}

.pxh-login-menu__link:link.pxh-login-menu__link:link,
.pxh-login-menu__link:visited.pxh-login-menu__link:visited { // chained to override px-theme
  color: $black;
}
.pxh-login-menu__link:hover.pxh-login-menu__link:hover { // chained to override px-theme
  background-color: $gray2;
}
