/*------------------------------------*\
    #PXH-BADGE
\*------------------------------------*/

.pxh-badge {
  text-align: center;
  background-color: $gray5;
  display: inline-block;
  font-size: $inuit-base-font-size * 0.866666666666;
  font-weight: bold;
  color: $white;
  line-height: 1;
  padding: 3px 5px 2px 5px;
  border-radius: 8px;
  text-decoration: none;
  &--navigation {
    background-color: $select-blue-pressed;
  }
  &--primary {
    background-color: $primary-blue;
  }
  &--important {
    background-color: $alert-red;
  }
  &--warning {
    background-color: $alert-orange;
  }
  &--error {
    background-color: $alert-yellow;
  }
  &--info {
    background-color: $alert-blue;
  }
  &--healthy-black {
    background-color: $black;
  }
  &--healthy-white {
    background-color: $white;
    border: 1px solid $gray5; // unless our box model is super smart, this is gonna misalign things
    color: $black;
  }
}
