/*------------------------------------*\
    #PXH-DRAWER
\*------------------------------------*/

$pxh-drawer-width-wide: 260px !default; // magic number ... fix this
$pxh-drawer-width-narrow: 60px !default; // magic number ... fix this
$pxh-drawer-margin: 20px !default;
$pxh-drawer-bg-color: $gray10 !default;
$pxh-view-header-height: 60px !default; // locked to current height of px-context-browser

@keyframes pxh-drawer--in {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Set the default styles for the wide/open state of the drawer (as seen on mobile).
.pxh-drawer {
  z-index: 750;
  position: fixed;
  top: 0;
  left: 0;
  width: $pxh-drawer-width-wide;
  height: 100%;
  background-color: $pxh-drawer-bg-color;
  transition: all 300ms ease-in-out;
  transition-delay: 0ms;
  .pxh-navigation,
  .pxh-login,
  .pxh-drawer-toggle {
    animation-name: pxh-drawer--in;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}

// Keep the inactive drawer hidden off-screen until the @md (tablet) breakpoint.
@include mq($until: md) {
  .pxh-drawer--hidden-until\@md {
    left: ($pxh-drawer-width-wide * -1);
  }
}

// From the @md (tablet) breakpoint and wider,
// the inactive drawer is displayed in its narrow state.
// Remove this class to display the drawer in its wide state.
@include mq($from: md) {
  .pxh-drawer--narrow\@md {
    width: $pxh-drawer-width-narrow;
    transition-delay: 500ms;
  }
}

@include mq($from: lg) {
  .pxh-drawer--wide\@lg {
    width: $pxh-drawer-width-wide;
    transition-delay: 100ms;
  }
}

.pxh-drawer-toggle {
  float: left;
  margin: $pxh-drawer-margin 0 0 $pxh-drawer-margin;
  height: $pxh-view-header-height - $pxh-drawer-margin;
}

.pxh-drawer-toggle__link {
  color: $white;
  transition: all 500ms ease-in-out;
  &:link,
  &:visited {
    color: $white;
  }
}

.pxh-drawer-toggle__icon {
  fill: $gray7;
}

/*------------------------------------*\
    #pxh-drawer-header
\*------------------------------------*/

// mixin for "animate in" styles
//
// These styles are applied at the end of an entrance animation
// when the element toggles from hidden to visible, or at the
// beginning of an exit animation when the elemenbt toggles from
// visible to hidden.
//
// These styles are also applied to the element when it is visible
// by default, absent an animation.
@mixin pxh-drawer-header--in-styles {
  font-size: $inuit-base-font-size * 1.5;
  opacity: 1;
  visibility: visible;
}

// mixin for "animate out" styles
//
// These styles are applied at the end of an exit animation
// when the element toggles from visible to hidden, or at the
// beginning of an entrance animation when the element toggles from
// hidden to visible.
//
// These styles are also applied to the element when it is hidden
// by default, absent an animation.
@mixin pxh-drawer-header--out-styles {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
}

// keyframes for "animate in" styles
//
// This animation sequence is applied when the element
// toggles from hidden to visible.
@keyframes pxh-drawer-header--in {
  0% {
    @include pxh-drawer-header--out-styles;
  }
  50% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  75% {
    font-size: $inuit-base-font-size * 1.5;
    opacity: 0;
    visibility: visible;
  }
  100% {
    @include pxh-drawer-header--in-styles;
  }
}

// keyframes for "animate out" styles
//
// This animation sequence is applied when the element
// toggles from visible to hidden.
@keyframes pxh-drawer-header--out {
  0% {
    @include pxh-drawer-header--in-styles;
  }
  50% {
    font-size: $inuit-base-font-size * 1.5;
    opacity: 0;
    visibility: visible;
  }
  99% {
    font-size: 0;
    opacity: 0;
    visibility: visible;
  }
  100% {
    @include pxh-drawer-header--out-styles;
  }
}

.pxh-drawer-header {
  float: left;
  @include pxh-drawer-header--in-styles;
  @include pxh-animation(pxh-drawer-header--in);
  margin-top: $pxh-drawer-margin / 1.25;
  margin-left: $pxh-drawer-margin;
}

.pxh-drawer-header__link {
  color: $gray7;
  text-decoration: none;
}

@include mq($from: md) {
  .pxh-drawer-header--narrow\@md {
    @include pxh-drawer-header--out-styles;
    @include pxh-animation(pxh-drawer-header--out);
  }
}

@include mq($from: md) {
  .pxh-drawer-header--wide\@md {
    @include pxh-drawer-header--in-styles;
    @include pxh-animation(pxh-drawer-header--in);
  }
}

@include mq($from: lg) {
  .pxh-drawer-header--wide\@lg {
    @include pxh-drawer-header--in-styles;
    @include pxh-animation(pxh-drawer-header--in);
  }
}
