/*------------------------------------*\
    #components.pxh-badge
\*------------------------------------*/

.pxh-badge {
  text-align: center;
  background-color: $gray5;
  display: inline-block;
  font-size: $inuit-base-font-size * 0.866666666666;
  font-weight: normal;
  color: $white;
  line-height: 1;
  padding: 2px 4px 0px 4px;
  border-radius: 7px;
  text-decoration: none;
  border: 1px solid $gray5;
  &--navigation {
    background-color: $select-blue-pressed;
    border-color: $select-blue-pressed;
  }
  &--primary {
    background-color: $primary-blue;
    border-color: $primary-blue;
  }
  &--important {
    background-color: $alert-red;
    border-color: $alert-red;
  }
  &--warning {
    background-color: $alert-orange;
    border-color: $alert-orange;
  }
  &--error {
    background-color: $alert-yellow;
    border-color: $alert-yellow;
  }
  &--info {
    background-color: $alert-blue;
    border-color: $alert-blue;
  }
  &--healthy-black {
    background-color: $black;
    border-color: $black;
  }
  &--healthy-white {
    background-color: $white;
    color: $black;
    border-color: $gray5;
  }
  &--truncated {
    max-width: $inuit-base-spacing-unit * 3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
