
.pxh-login__spacer {
  flex-grow: 1;
}

.pxh-login {
  background-color: $gray10;
  position: relative;
  padding-left: $inuit-base-spacing-unit / 2;
  height: 3 * $inuit-base-spacing-unit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pxh-login__action.pxh-login__action.pxh-login__action { // chained to override px-theme
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  text-decoration: none;
}

.pxh-login__action:link.pxh-login__action:link.pxh-login__action:link,
.pxh-login__action:visited.pxh-login__action:visited.pxh-login__action:visited { // chained to override px-theme
  color: $white;
}

.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon.pxh-login__avatar-icon {  // yes, in fact, it DOES take a five-deep class chain to override px-theme here
  text-align: center;
  font-size: $inuit-base-font-size * 2; // needs a !important with any less than a five-deep class chain
  padding-top: $inuit-base-spacing-unit / 5;
  background-color: $gray4;
  color: $gray8;
  height: $inuit-base-spacing-unit * 2;
  width: $inuit-base-spacing-unit * 2;
  border-radius: 100%;
  border: 1px solid $gray3;
}

.pxh-login__avatar-image {
  height: $inuit-base-spacing-unit * 2.5;
  width: $inuit-base-spacing-unit * 2.5;
  border-radius: 100%;
}

.pxh-login__name {
  padding-left: $inuit-base-spacing-unit;
}

.pxh-login__name--hidden {
  display: none;
}

.pxh-login__control--hidden {
  display: none;
}

.pxh-login__control {
  padding-left: $inuit-base-spacing-unit / 4;
}

.pxh-login__settings {
  padding-right: $inuit-base-spacing-unit / 2;
}

.pxh-login__settings--hidden {
  display: none;
}

.pxh-login__settings-link.pxh-login__settings-link.pxh-login__settings-link { // chained to override px-theme
  color: $white;
  text-decoration: none;
}

.pxh-login__settings-link:link.pxh-login__settings-link:link.pxh-login__settings-link:link,
.pxh-login__settings-link:visited.pxh-login__settings-link:visited.pxh-login__settings-link:visited { // chained to override px-theme
  color: $white;
}

.pxh-login-menu {
  position: absolute;
  bottom: $inuit-base-spacing-unit * 2;
  left: -9999px;
  background-color: $white;
  color: $black;
  width: $inuit-base-spacing-unit * 8;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
}

.pxh-login-menu--visible {
  left: $inuit-base-spacing-unit * 2;
}

.pxh-login-menu__list.pxh-login-menu__list.pxh-login-menu__list { // chained to override px-theme
  list-style: none;
  margin: 0;
  padding: 0;
}

.pxh-login-menu__divider {
  display: block;
  border-top: 1px solid $gray3;
}

.pxh-login-menu__link.pxh-login-menu__link { // chained to override px-theme
  display: block;
  padding: $inuit-base-spacing-unit;
  text-decoration: none;
  color: $black;
}

.pxh-login-menu__link:link.pxh-login-menu__link:link,
.pxh-login-menu__link:visited.pxh-login-menu__link:visited { // chained to override px-theme
  color: $black;
}
.pxh-login-menu__link:hover.pxh-login-menu__link:hover { // chained to override px-theme
  background-color: $gray2;
}
