/*------------------------------------*\
    #components.pxh-spinner
\*------------------------------------*/

.pxh-spinner {
  margin: 60px auto;
  font-size: 1px;
  position: relative;
  text-indent: -9999em;
  border: 10px solid $gray4;
  border-left-color: $primary-blue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  &--tiny {
    border-width: 3px;
    height: 20px;
    width: 20px;
  }
  &--small {
    border-width: 5px;
    height: 40px;
    width: 40px;
  }
  &--large {
    border-width: 15px;
    height: 150px;
    width: 150px;
  }
  &--inverted {
    border-color: $gray8;
    border-left-color: $primary-blue;
  }
  &--finished {
    display: none;
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
