// Wrapper around all content
.pxh-viewport {
  margin-top: $inuit-base-spacing-unit * 3;
}

// Wrapper around cards
.pxh-view {
          transition: all 200ms ease-out;
}

@include mq($from: md) {
  .pxh-view--wide\@md {
    margin-left: $inuit-base-spacing-unit * 3;
  }
}

@include mq($from: lg) {
  .pxh-view--narrow\@lg {
    margin-left: 15 * $inuit-base-spacing-unit;
  }
}

.pxh-view-header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid $gray6;
  width: 100%;
  height: 3 * $inuit-base-spacing-unit;
  background-color: $white;
  padding: ($inuit-base-spacing-unit / 1.25) 0 0 0;
  margin: 0;
          transition: all 200ms ease-out;
}

@include mq($from: md) {
  .pxh-view-header--wide\@md {
    left: 3 * $inuit-base-spacing-unit;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@include mq($from: lg) {
  .pxh-view-header--narrow\@lg {
    left: 8 * $inuit-base-spacing-unit;
    margin-right: auto;
    margin-left: auto;
  }
}

.pxh-view-header__title {
  text-align: center;
  font-size: 20px;
}

.pxh-view-header__title-link.pxh-view-header__title-link.pxh-view-header__title-link  { // chained to override px-theme
  color: $black;
  text-decoration: none;
}

.pxh-view-header__title-link:link.pxh-view-header__title-link:link.pxh-view-header__title-link:link,
.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited.pxh-view-header__title-link:visited { // chained to override px-theme
  color: $black;
}

.pxh-view-header__title-action {
  font-size: 14px;
}

.pxh-view-header-drawer-toggle {
  position: fixed;
  top: $inuit-base-spacing-unit / 1.25;
  left: $inuit-base-spacing-unit / 1.25;
  z-index: 500; // making the same as overlay to overcome IE10 clickthru bug with overlay
          transition: opacity 100ms ease-out;
}

@include mq($from: md) {
  .pxh-view-header-drawer-toggle--hidden\@md {
      display: none;
  }
}

.pxh-view-header-drawer-toggle__link {
  color: $black;
  text-decoration: none;
  &:link,
  &:visited {
    color: $black;
  }
}

.pxh-view-header-drawer-toggle--visible {
  opacity: 1;
  pointer-events: auto;
}

.pxh-view-header-drawer-toggle__icon {
  font-size: 30px;
}
