/*------------------------------------*\
    #elements.body
\*------------------------------------*/

html, body {
  font-family: "GE Inspira Sans", "Helvetica", "Arial", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
}
