/*------------------------------------*\
    #elements.hr
\*------------------------------------*/

hr {
    height: 1px;
    color: $pxhtheme-hr-color;
    background: $pxhtheme-hr-color;
    font-size: 0;
    border: 0;
    margin-top: $inuit-base-spacing-unit;
    margin-bottom: $inuit-base-spacing-unit;
}
