/*------------------------------------*\
    #elements.body
\*------------------------------------*/

$pxh-language-direction : 'ltr' !default; // 'ltr' OR 'rtl'

html {
  background-color: $pxhtheme-html-bg-color;
  color: $pxhtheme-html-text-color;
  font-size: ($pxhtheme-base-font-size / 16px) * 1em;
  line-height: $pxhtheme-base-line-height / $pxhtheme-base-font-size;
}

html, body {
  @if $pxh-language-direction == 'rtl' {
    direction: rtl;
  }
  font-family: $pxhtheme-base-font-family;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
}
