/*------------------------------------*\
    #overrides.px-theme
\*------------------------------------*/

html {
  // sets dark gray ($gray8) color as default for application background:
  background-color: $inuit-base-background-color !important;
  // prevents duplicate scroll bars on the viewport in addition to the pxh-view content area in IE:
  overflow: hidden !important;
}

body {
  margin-bottom: 0 !important;
}
