/*------------------------------------*\
    #overrides.pxh-docs
\*------------------------------------*/

.pxh-docs {
  margin: 5px 5px 5px 5px;
  padding: 20px;
  background-color: $pxhtheme-docs-bg-color;

  code {
    font-size: $inuit-base-font-size;
    background-color: $pxhtheme-docs-code-bg-color;
    color: $pxhtheme-docs-code-text-color;
  }
  pre {
    overflow-x: auto;
  }
}
