// utility class to disable scrolling
@include mq($until: lg) {
  // this class doesn't work yet; not until we figure out
  // a way to use overflow: hidden without auto-scrolling the user
  // back to the top of the window
  .pxh-disable-scroll-until\@lg {
    height: 100%;
    position: relative;
  }
}

.pxh-is-hidden {
  display: none;
}

.pxh-float-left {
  float: left;
}

.pxh-float-right {
  float: right;
}

.pxh-clear-left {
  clear: left;
}

.pxh-clear-right {
  clear: right;
}

.pxh-clear-both {
  clear: both;
}
