/*------------------------------------*\
    #settings.pxh-chrome
\*------------------------------------*/

/// Width of drawer in wide state
/// @group pxh-drawer
/// @type Number
$pxh-drawer-width-wide: 260px !default; // magic number ... fix this

/// Width of drawer in narrow state
/// @group pxh-drawer
/// @type Number
$pxh-drawer-width-narrow: 60px !default; // magic number ... fix this

/// Drawer margin
/// @group pxh-drawer
/// @type Number
$pxh-drawer-margin: 20px !default; // magic number ... fix this

/// Drawer background color
/// @group pxh-drawer
/// @type Color
$pxh-drawer-bg-color: $gray10 !default;

/// Navigation text color
/// @group pxh-navigation
/// @type Color
$pxh-navigation-color: $gray7 !default;

/// Navigation background color
/// @group pxh-navigation
/// @type Color
$pxh-navigation-bg-color: transparent !default;

/// Navigation text color on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-hover-color: $gray4 !default;

/// Navigation background color on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-hover-bg-color: $gray9 !default;

/// Navigation text color for selected item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-selected-color: $white !default;

/// Navigation background color for selected item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-selected-bg-color: $gray9 !default;

/// Navigation text color for active item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-active-color: $white !default;

/// Navigation background color for active item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-active-bg-color: $gray9 !default;

/// Navigation text color for error item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-error-color: $pxh-navigation-color !default;

/// Navigation color for error icon
/// @group pxh-navigation
/// @type Color
$pxh-navigation-error-icon-color: $red !default;

/// Navigation background color for error item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-error-bg-color: $pxh-navigation-bg-color !default;

/// Navigation text color for sub-item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-color: $gray7 !default;

/// Navigation text color for selected sub-item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-selected-color: $white !default;

/// Navigation background color for selected sub-item
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-selected-bg-color: transparent !default;

/// Navigation text color for sub-item on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-hover-color: $gray4 !default;

/// Navigation background color for sub-item on hover
/// @group pxh-navigation
/// @type Color
$pxh-navigation-sub-hover-bg-color: transparent !default;

/// Navigation item link height
/// @group pxh-navigation
/// @type Number
$pxh-navigation-link-height: 48px;

/// Navigation sub-item link height
/// @group pxh-navigation
/// @type Number
$pxh-navigation-sub-link-height: 30px;

/// Navigation margin for divider component
/// @group pxh-navigation
/// @type Number
$pxh-navigation-divider-margin: 10px;

/// Login component height
/// @group pxh-login
/// @type Number
$pxh-login-height:  60px !default;

/// User avatar height and width
/// @group pxh-login
/// @type Number
$pxh-login-avatar-height-width: 30px !default;

/// "Magic number" centering for login components
/// @group pxh-login
/// @type Number
$pxh-login-magic-centering: 14px !default; // magic number, fix this

/// View header height
/// locked to current height of px-context-browser + 1px for bottom border
/// @group pxh-view
/// @type Number
$pxh-view-header-height: 61px !default;

/// Options for pxh-view background colors
/// @group pxh-view
$pxh-view-background-colors: (
  white: $white, 
  gray1: $gray1, 
  gray2: $gray2, 
  gray3: $gray3, 
  gray4: $gray4, 
  gray5: $gray5, 
  gray6: $gray6, 
  gray7: $gray7, 
  gray8: $gray8, 
  gray9: $gray9, 
  gray10: $gray10, 
  black: $black
 );

/// Alpha transparency for pxh-spinner
/// @group pxh-spinner
/// @type Number
$pxh-spinner-alpha: 0.7;

/// Icon color for error messages
/// @group pxh-error
/// @type Color
$error-icon-color: $gray5 !default;

/// Title/header text color for error messages
/// @group pxh-error
/// @type Color
$error-title-color: $gray6 !default;

/// Description text color for error messages
/// @group pxh-error
/// @type Color
$error-description-color: $gray6 !default;

/// Top margin to offset error message from top of browser window
/// @group pxh-error
/// @type Number
$error-margin-top: $inuit-base-spacing-unit * 3 !default;

/// Top padding to give error message some breathing room
/// @group pxh-error
/// @type Number
$error-padding-top: $inuit-base-spacing-unit !default;

/// Text decoration for hyperlinks in error messages
/// @group pxh-error
/// @type String
$error-link-text-decoration: none !default;
