/*------------------------------------*\
    #PXH-ANIMATIONS
\*------------------------------------*/

// mixin for embedding common animation declarations across pxh-navigation elements
@mixin pxh-animation($name) {
  animation-name: $name;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
