/*! pxh-error.css 0.11.0 */

/*------------------------------------*\
    #pxh-error
\*------------------------------------*/

// ** #SETTINGS
@import "settings.defaults.scss";

// ** #GENERIC ** //
@import "generic.normalize.scss";
@import "generic.fonts.scss";
@import "generic.defaults.scss";

// ** #TOOLS ** //
$mq-breakpoints: (
    xs:  300px,
    sm:  480px,
    md:  768px,
    lg:  1024px,
    xl:  1200px,
);
@import "sass-mq/mq.scss";
$fa-font-path       : "../fonts/font-awesome/fonts" !default;
@import "font-awesome/scss/font-awesome.scss";

// ** #ELEMENTS ** //
@import "elements.body.scss";
@import "elements.links.scss";
@import "elements.typography.scss";

html {
  background-color: $gray10;
  color: $white;
}

a {
  text-decoration: none;
}

.pxh-error {
  width: 100%;
  text-align: center;
  margin: ($inuit-base-spacing-unit * 6) 0 0 0;
  padding: ($inuit-base-spacing-unit * 2) $inuit-base-spacing-unit ($inuit-base-spacing-unit * 8) $inuit-base-spacing-unit;
}

@include mq($from: md) {
  .pxh-error\@md {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@include mq($from: lg) {
  .pxh-error\@lg {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.pxh-error__icon {
  font-size: $px-font-size-beta;
  color: $gray5;
  line-height: 1;
}

.pxh-error__title {
  font-size: $px-font-size-epsilon;
  font-weight: bold;
  color: $white;
}

.pxh-error__description {
  font-size: $px-font-size-regular;
  color: $white;
}

// ** #OBJECTS ** //

// ** #COMPONENTS ** //

// ** #OVERRIDES ** //
