/*! pxh-prechrome.css 1.6.0 */

/*------------------------------------*\
    #pxh-prechrome
\*------------------------------------*/

// ** #SETTINGS ** //

/// Define whether the application is rendering in a "left-to-right" language or a "right-to-left" language
/// @group pxh-settings
/// @type String [default] 'ltr'
$pxh-language-direction : 'ltr'; // 'ltr' OR 'rtl'

@import "settings.defaults.scss";
@import "settings.pxh-chrome.scss";

// ** #GENERIC ** //
@import "generic.normalize.scss";
/// Relative path to GE web fonts
/// @group pxh-settings
/// @type String [default] - Webfont path
$webfont-path: '//dzlpbrbc7yvq0.cloudfront.net/px/fonts/1.0.0';
@import "generic.fonts.scss";
@import "generic.defaults.scss";

// ** #TOOLS ** //
/// List of media query breakpoints
/// @group pxh-settings
$mq-breakpoints : (
  md :  768px,
  lg : 1024px,
);
@import "sass-mq/mq.scss"; // our sass task includes /bower_components automatically so we don't need to specify it
/// Relative path to Font Awesome fonts
/// @group pxh-settings
/// @type String
$fa-font-path : "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/fonts/";
@import "font-awesome/scss/font-awesome.scss"; // our sass task includes /bower_components automatically so we don't need to specify it
@import "tools.pxh-animations.scss";
@import "tools.pxh-mixins.scss";

// ** #ELEMENTS ** //
@import "elements.body.scss";
@import "elements.links.scss";
@import "elements.hr.scss";
@import "elements.typography.scss";

html {
  background-color: $gray10;
  color: $white;
}

a {
  text-decoration: none;
}

// ** #OBJECTS ** //

// ** #COMPONENTS ** //
/// Icon color for error messages
/// @group pxh-error
/// @type Color
$error-icon-color: $gray5;

/// Title/header text color for error messages
/// @group pxh-error
/// @type Color
$error-title-color: $white;

/// Description text color for error messages
/// @group pxh-error
/// @type Color
$error-description-color: $white;

/// Top margin to offset error message from top of browser window
/// @group pxh-error
/// @type Number
$error-margin-top: $inuit-base-spacing-unit * 6;

/// Top padding to give error message some breathing room
/// @group pxh-error
/// @type Number
$error-padding-top: $inuit-base-spacing-unit * 2;

/// Text decoration for hyperlinks in error messages
/// @group pxh-error
/// @type String
$error-link-text-decoration: underline;

@import "components.pxh-error.scss";

// ** #OVERRIDES ** //
