/*! pxh-prechrome.css 1.0.1 */

/*------------------------------------*\
    #pxh-prechrome
\*------------------------------------*/

// ** #SETTINGS ** //
@import "settings.defaults.scss";
@import "settings.pxh-chrome.scss";

// ** #GENERIC ** //
@import "generic.normalize.scss";
$webfont-path: '../fonts/ge/type' !default;
// $webfont-path: '//dzlpbrbc7yvq0.cloudfront.net/pxh-chrome/1.0.1/dist/fonts/ge/type' !default;
@import "generic.fonts.scss";
@import "generic.defaults.scss";

// ** #TOOLS ** //
$mq-breakpoints : (
  md :  768px,
  lg : 1024px,
);
@import "sass-mq/mq.scss"; // our sass task includes /bower_components automatically so we don't need to specify it
$fa-font-path : "../fonts/font-awesome/fonts" !default;
// $fa-font-path : "//dzlpbrbc7yvq0.cloudfront.net/pxh-chrome/1.0.1/dist/fonts/font-awesome/fonts" !default;
@import "font-awesome/scss/font-awesome.scss"; // our sass task includes /bower_components automatically so we don't need to specify it
@import "tools.pxh-animations.scss";
@import "tools.pxh-mixins.scss";

// ** #ELEMENTS ** //
@import "elements.body.scss";
@import "elements.links.scss";
@import "elements.hr.scss";
@import "elements.typography.scss";

// ** #OBJECTS ** //

// ** #COMPONENTS ** //
$error-icon-color: $gray5;
$error-title-color: $white;
$error-description-color: $white;
$error-margin-top: $inuit-base-spacing-unit * 6;
$error-padding-top: $inuit-base-spacing-unit * 2;
$error-text-decoration: underline;
@import "components.pxh-error.scss";

// ** #OVERRIDES ** //
