/*! pxh-chrome.css 0.10.0 */

/*------------------------------------*\
    #PXH-CHROME
\*------------------------------------*/

// ** #TOOLS USED BY TOOLS ** //
@import "px/tools.inuit-functions.scss";

// ** #TOOLS USED BY SETTINGS ** //
@import "px/tools.px-functions.scss";

// ** #SETTINGS USED BY SETTINGS ** //
@import "px/settings.colors.scss";

// ** #SETTINGS
$inuit-base-background-color: $gray5 !default;
@import "px/settings.defaults.scss";

// ** #GENERIC ** //
@import "px/generic.normalize.scss";
@import "px/generic.box-sizing.scss";

// ** #TOOLS ** //
@import "px/tools.mixins.scss";
$mq-breakpoints: (
    xs:  300px,
    sm:  480px,
    md:  768px,
    lg:  1024px,
    xl:  1200px,
);
@import "sass-mq/mq.scss";
$fa-font-path       : "../fonts/font-awesome/fonts" !default;
$fa-version         : "4.6.2" !default;
@import "font-awesome/scss/font-awesome.scss";
@import "tools.pxh-animations.scss";

// ** #BASE ** //
// $inuit-webfont-path: '../fonts/px-typography-design/type' !default;
@import "px/base.typography.scss";
$fa-font-path       : "../fonts/font-awesome/fonts" !default;
$fa-version         : "4.4.0" !default;
@import "px/base.iconography.scss";

// remove this once px-typography is fixed
// needs to go way down here below the @import for px-box-sizing
// or else it will still be adjacent to the :host declaration
// and will still be combined.
// https://github.com/PredixDev/px-typography-design/pull/1
html {
  font-family: $predix-font-family;
}

// remove this once px-box-sizing is fixed
// needs to go way down here below the @import for px-box-sizing
// or else it will still be adjacent to the :host declaration
// and will still be combined.
// https://github.com/PredixDev/px-box-sizing-design/pull/1
html {
  box-sizing: border-box;
}

// ** #ELEMENTS ** //
@import "elements.body.scss";
@import "elements.link.scss";

// ** #OBJECTS ** //

// ** #COMPONENTS ** //
@import "components.pxh-badge.scss";
@import "components.pxh-drawer.scss";
@import "components.pxh-footer.scss";
@import "components.pxh-header.scss";
@import "components.pxh-login.scss";
@import "components.pxh-navigation.scss";
@import "components.pxh-overlay.scss";
@import "components.pxh-view.scss";
@import "components.pxh-spinner.scss";

// ** #OVERRIDES ** //
@import "overrides.px-theme.scss";
@import "overrides.pxh-utilities.scss";
@import "overrides.pxh-docs.scss";
