---
title: "404 Error"
bodyClass: "pxh-error"
layout: "error.hbs"
---
<div class="pxh-overlay pxh-overlay--hidden pxh-overlay--hidden@lg"></div>
<section>
  <h1>404 Error</h1>
</section>
<section>Modal with details</section>
