---
title: "Drawer, View &amp; View Header Demo"
bodyClass: "pxh-chromeful"
layout: "demo-chromeful.hbs"
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Drawer, View &amp; View Header Demo
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">
          <p>This screen demonstrates...</p>

          <h1>pxh-drawer</h1>
          <h1>pxh-drawer-header</h1>
          <h1>pxh-drawer-toggle</h1>
          <h1>pxh-view-header-drawer-toggle</h1>
          <h1>pxh-wrapper</h1>
          <h1>pxh-view-header</h1>
          <h1>pxh-view</h1>
        </div>
      </section>
    </section>
