---
title: "Drawer Login Demo - Logged In"
bodyClass: "pxh-chromeful"
layout: "demo-login-signed-in.hbs"
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Drawer Login Demo - Signed In
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">
          <p>This screen demonstrates...</p>

          <h1>pxh-login</h1>
        </div>
      </section>
    </section>
