---
title: "Loading Indicator Demo"
bodyClass: "pxh-chromeful"
layout: "demo-spinner.hbs"
---

    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Loading Indicator Demo
          </a>
        </h1>
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">
          <p>This screen demonstrates...</p>
          <h1>pxh-spinner</h1>
          <div class="pxh-spinner pxh-spinner--small"></div>
          <div class="pxh-spinner"></div>
          <div class="pxh-spinner pxh-spinner--large"></div>
          <div class="pxh-spinner pxh-spinner--large pxh-spinner--finished"></div>
        </div>
        <div class="pxh-spinner pxh-spinner--small"></div>
        <div class="pxh-spinner"></div>
        <div class="pxh-spinner pxh-spinner--large"></div>
        <div class="pxh-spinner pxh-spinner--large pxh-spinner--finished"></div>
      </div>
    </div>
