---
title: "Predix.io Example"
bodyClass: "pxh-chromeful"
errorSelected: false
layout: "demo-predixio.hbs"
---

    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Predix.io Example <!-- <i class="fa fa-caret-down pxh-view-header__title-action"></i> -->
          </a>
        </h1>
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">

        <p>Placeholder Content</p>

      </div>
    </div>
