---
title: "Drawer Navigation Demo"
bodyClass: "pxh-chromeful"
layout: "demo-navigation.hbs"
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Drawer Navigation Demo
          </a>
        </h1>      
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">
          <p>This screen demonstrates...</p>

          <h1>pxh-navigation</h1>
        </div>
      </section>
    </section>
