---
title: "View Demo - $gray4 background"
bodyClass: "pxh-chromeful"
layout: "demo-chromeful.hbs"
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            View Demo - $gray4 background
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--gray4 pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
          <p>This screen demonstrates <code>pxh-view</code> with the <code>pxh-view--gray4</code> modifier class applied to it, which changes its default background color.</p>
      </section>
    </section>
