---
title: "Under Development - Notifications"
bodyClass: "pxh-chromeful"
layout: "dev-notifications.hbs"
---

    <aside class="pxh-toast-list pxh-toast-list--wide@md pxh-toast-list--narrow@lg" id="js-toast-list">
      <section class="pxh-toast">
        <div class="pxh-toast__icon pxh-toast__icon--success">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="pxh-toast__text">
          <p>Toast text goes here.</p>
        </div>
        <div class="pxh-toast__action">
          <a class="pxh-toast__button" href="#">View Alert</a>
        </div>
        <div class="pxh-toast__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </section>
      <section class="pxh-toast">
        <div class="pxh-toast__icon pxh-toast__icon--info">
          <i class="fa fa-info-circle"></i>
        </div>
        <div class="pxh-toast__text">
          <p>Toast text goes here.</p>
        </div>
        <div class="pxh-toast__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </section>
      <section class="pxh-toast">
        <div class="pxh-toast__icon pxh-toast__icon--warning">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="pxh-toast__text">
          <p>Toast text goes here.</p>
        </div>
        <div class="pxh-toast__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </section>
      <section class="pxh-toast">
        <div class="pxh-toast__icon pxh-toast__icon--important">
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="pxh-toast__text">
          <p>Toast text goes here.</p>
        </div>
        <div class="pxh-toast__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
    </aside>

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            pxh-chrome <!-- <i class="fa fa-caret-down pxh-view-header__title-action"></i> -->
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">

        <div class="pxh-docs">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae porta velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec mi mi, facilisis nec rutrum sed, condimentum nec nunc. Vestibulum malesuada at est quis egestas. Cras at libero feugiat, porttitor tortor eget, vestibulum massa. Sed euismod quis erat ac cursus. Proin aliquam magna et ipsum vehicula mattis. Aenean dui libero, viverra eget ipsum eget, aliquam vulputate ipsum. Suspendisse cursus eu ante finibus imperdiet. Suspendisse potenti. Nam sodales tristique ipsum, eu hendrerit urna tincidunt ac. Vivamus ut lorem quis lacus ullamcorper elementum. Pellentesque sit amet dolor consectetur, tincidunt urna at, sodales est. Nunc sed enim commodo, auctor ex ut, mollis dui.</p>

<p>Pellentesque quis ultricies diam, a dictum eros. Nulla ac eros velit. Sed gravida nec massa nec blandit. Nunc ullamcorper nunc eu nunc tincidunt, in vulputate dolor sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium velit et orci sollicitudin, a egestas tortor finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed mattis ultricies posuere. Integer ac elit augue.</p>

<p>Etiam sit amet nisl vestibulum enim posuere aliquet ut convallis lacus. Vivamus faucibus id quam eget dictum. Nulla ut porta enim. Nunc sollicitudin suscipit laoreet. Nulla a felis elit. Integer efficitur neque sit amet pellentesque interdum. Quisque faucibus tortor sed varius fermentum. Morbi lobortis mollis lacus, ac pellentesque nunc efficitur quis. Proin et felis lobortis nisl ultricies maximus.</p>

<p>In tortor nulla, ultrices vitae orci et, vehicula faucibus tortor. Proin rhoncus nulla vitae neque ultrices, quis ultricies diam pellentesque. Sed pretium felis non arcu pellentesque, at pharetra libero mattis. Aliquam eu tincidunt velit. Sed ultrices imperdiet urna. Vivamus dolor lectus, tempus nec sodales in, condimentum in lectus. Duis euismod felis massa, quis convallis sem sodales eu.</p>

<p>Aenean non facilisis erat, sit amet eleifend dui. Fusce sit amet iaculis dolor. Curabitur id blandit justo, a tincidunt lacus. Praesent rhoncus sapien vitae velit eleifend ornare. Nunc iaculis et ex consectetur efficitur. Nunc a cursus arcu. Nunc accumsan felis quis venenatis varius. Aenean cursus dapibus nibh vel cursus. In euismod elementum sem vel varius. Vestibulum nulla urna, vulputate blandit facilisis eget, iaculis eget metus. Donec imperdiet tortor in massa facilisis, sed cursus purus efficitur. Integer orci elit, luctus varius risus eget, eleifend auctor lacus. In mi magna, tincidunt id sapien a, blandit pellentesque diam. Aenean a turpis vel tortor posuere consectetur vitae sed urna.</p>

<p>Nullam diam libero, gravida eu nisi eu, vehicula pharetra ligula. Fusce fermentum, erat sed venenatis rhoncus, nulla arcu blandit nulla, ut accumsan mauris metus ut mauris. Proin vulputate molestie erat quis accumsan. Donec feugiat, risus sed condimentum sollicitudin, nulla nisi sollicitudin elit, vitae bibendum dolor dolor at lacus. Vestibulum fermentum, metus eget sodales auctor, dui erat pellentesque enim, vel finibus mi lorem ut nibh. Quisque eleifend sed tellus sed sagittis. Cras feugiat ultricies ipsum non porta. Donec in imperdiet diam. Nulla gravida diam nisi, at accumsan augue scelerisque ac. In mollis nibh suscipit ultricies lacinia. Vivamus mi est, ultricies quis sollicitudin eget, tincidunt ac dolor. Fusce venenatis enim ut dictum fermentum. Duis faucibus auctor orci ut lobortis. Praesent leo lectus, condimentum quis magna non, tempor ultrices justo. Etiam tincidunt turpis risus. Suspendisse hendrerit tincidunt nisi.</p>

<p>Aliquam rhoncus, risus vel faucibus varius, orci nunc viverra leo, sit amet dictum nulla ligula id sem. Nulla suscipit quam a vehicula varius. Sed condimentum lectus nisl, sit amet mollis neque scelerisque ut. In hac habitasse platea dictumst. Aliquam fermentum sit amet leo vel placerat. Nulla elementum velit nisi, sit amet gravida nibh sodales nec. Integer efficitur accumsan sapien. Sed orci orci, elementum ut ipsum eu, elementum lacinia tortor. In hac habitasse platea dictumst. Sed pellentesque ex lacus, quis lobortis lectus pretium eget. Phasellus maximus vehicula justo sed imperdiet.</p>

<p>Duis ipsum lorem, placerat in libero vitae, accumsan accumsan massa. Suspendisse eu lectus venenatis, consequat massa sed, feugiat lorem. Vivamus nec viverra lacus. Pellentesque porttitor vestibulum nibh, eget iaculis velit pulvinar sed. Curabitur quam nisl, malesuada sit amet commodo eu, vulputate ut nisi. Sed pellentesque velit sit amet dignissim euismod. Quisque hendrerit ipsum vitae ex pellentesque commodo. Vestibulum sollicitudin condimentum erat, ac elementum ex tincidunt id. Sed a malesuada libero, vitae iaculis est. Quisque egestas ullamcorper facilisis. Aenean imperdiet arcu mauris, eu tristique ante sollicitudin nec. Duis convallis auctor tempor. Etiam vitae neque ornare massa aliquet fermentum. Nunc felis justo, accumsan ac lectus a, gravida finibus massa. Vestibulum imperdiet, ipsum nec viverra condimentum, nisi justo consectetur massa, vitae aliquet sapien ante vel ipsum.</p>

<p>Morbi pellentesque justo nec metus rutrum dapibus. Nulla elit tellus, placerat vel magna at, varius malesuada dui. Vivamus ac sodales turpis. Morbi tortor dolor, ornare at tortor ut, faucibus luctus purus. Cras vestibulum rutrum lectus interdum blandit. Quisque vulputate orci vel magna mollis ultrices. Mauris aliquet nisi at ligula tempus, quis maximus mauris convallis. Maecenas ac varius ex. Morbi mollis massa ac ex finibus ultricies. Nullam sit amet mollis tortor, a pulvinar ante. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

<p>Quisque at placerat mi. Nunc nisl lectus, porta ac molestie quis, venenatis id neque. In hac habitasse platea dictumst. Mauris et orci sit amet augue luctus mattis. In nibh felis, facilisis et placerat sit amet, mollis id dui. Vivamus venenatis eu diam eget convallis. Quisque nec est dui. Integer magna odio, sodales vel tellus eget, mattis eleifend odio. Mauris sed nulla ac purus fermentum lacinia. Maecenas pretium quam id porta maximus.</p>

        </div>
      </section>
    </section>


  <section class="pxh-notifications">
    <header class="pxh-notifications__header">
      <div class="pxh-notifications__action">
        <a href="#">View Log</a>
      </div>
      <div class="pxh-notifications__title">
        Notifications
      </div>
      <div class="pxh-notifications__clear">
        <a href="#">Clear</a>
      </div>
    </header>
    <div class="pxh-notifications__list">
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--success">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Stacy closed Case 123456
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--info">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="pxh-notification-item__text">
          Case 234567 has been assigned to you
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--warning">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Jennifer escalated Case 345678
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--important">
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Your analytic run failed with errors
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--success">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Stacy closed Case 123456
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--info">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="pxh-notification-item__text">
          Case 234567 has been assigned to you
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--warning">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Jennifer escalated Case 345678
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--important">
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Your analytic run failed with errors
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--success">
          <i class="fa fa-check-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Stacy closed Case 123456
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--info">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="pxh-notification-item__text">
          Case 234567 has been assigned to you
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--warning">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Jennifer escalated Case 345678
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="pxh-notification-item">
        <div class="pxh-notification-item__icon pxh-notification-item__icon--important">
          <i class="fa fa-times-circle"></i>
        </div>
        <div class="pxh-notification-item__text">
          Your analytic run failed with errors
        </div>
        <div class="pxh-notification-item__dismiss">
          <a href="#"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>
  </section>
