---
title: "Error State"
bodyClass: "pxh-chromeful"
---

    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Error State
          </a>
        </h1>
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">
        <div class="pxh-docs">
          <h1>Error State</h1>

          <h2>pxh-error &mdash; <a href="error-postchrome.html">demo</a> | <a href="error-chromeless.html">chromeless demo</a></h2>

          <p>Use the following markup to display a full-screen error state in your microapp:</p>

          <pre><code>&lt;div class="pxh-wrapper"&gt;
  &lt;div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md"&gt;
  &lt;/div&gt;
  &lt;div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg pxh-view--white" id="js-view"&gt;
    &lt;div class="pxh-error pxh-error@md pxh-error@lg"&gt;
      &lt;div class="pxh-error__icon"&gt;
        &lt;i class="fa fa-exclamation-circle"&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;h1 class="pxh-error__title"&gt;
        This is my error title.
      &lt;/h1&gt;
      &lt;p class="pxh-error__description"&gt;
        Here is an &lt;a href="#"&gt;error action&lt;/a&gt;.
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

          <p>You can use the same markup when displaying an error in "chromeful" or "chromeless" mode. No modification is necessary.</p>

        </div>
      </div>
    </div>

