---
title: "pxh-badge"
bodyClass: "pxh-chromeful"
errorSelected: false
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            Badges
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">

        <div class="pxh-docs">

          <h2>pxh-badge &mdash; <a href="demo-badge.html">view demo</a></h2>

          <h4>Add a badge to a primary navigation item</h4>

          <p>To include a badge to the right of a primary navigation item, refer to this markup:</p>

          <code><pre>&lt;a href="#" class="pxh-navigation__link pxh-navigation__link--active"&gt;
  &lt;i class="fa fa-table pxh-navigation__item-icon"&gt;&lt;/i&gt;
  &lt;span class="pxh-navigation__item-text"&gt;Nav Item Three&lt;/span&gt;&lt;span class="pxh-badge pxh-badge--navigation"&gt;&lt;/span&gt;
&lt;/a&gt;</pre></code>

          <p>A number of modifier classes are available to changing the color of the badge. For instance, add the modifier class <code>pxh-badge--important</code> to make the badge red.</p>

          <span class="pxh-badge">123</span> <code>&lt;span class="pxh-badge"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--primary">123</span> <code>&lt;span class="pxh-badge pxh-badge--primary"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--info">123</span> <code>&lt;span class="pxh-badge pxh-badge--info"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--healthy-black">123</span> <code>&lt;span class="pxh-badge pxh-badge--healthy-black"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--healthy-white">123</span> <code>&lt;span class="pxh-badge pxh-badge--healthy-white"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--error">123</span> <code>&lt;span class="pxh-badge pxh-badge--error"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--warning">123</span> <code>&lt;span class="pxh-badge pxh-badge--warning"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--important">123</span> <code>&lt;span class="pxh-badge pxh-badge--important"&gt;123&lt;/span&gt;</code><br>
          <span class="pxh-badge pxh-badge--navigation">123</span> <code>&lt;span class="pxh-badge pxh-badge--navigation"&gt;123&lt;/span&gt;</code>

        </div>
      </section>
    </section>
