---
title: "Chromeless Screen"
bodyClass: "pxh-chromeless"
layout: "chromeless.hbs"
---
<section class="pxh-wrapper">
  <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg">
  </header>
  <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg pxh-view--white" id="js-view">
    <section class="pxh-error pxh-error@md pxh-error@lg">
      <div class="pxh-error__icon">
        <i class="fa fa-exclamation-circle"></i>
      </div> 
      <h1 class="pxh-error__title">
        This &lt;module&gt; does not exist.
      </h1>
      <p class="pxh-error__description">
        Return to <a href="index.html">&lt;home page&gt;</a>.
      </p>
    </section>
  </section>
</section>
