---
title: "404 Error"
layout: "error.hbs"
---

<h1 class="pxh-error__title">
  The application is unavailable.
</h1>
<p class="pxh-error__description">
  Sign out and <a href="#">log in</a> again, or <a href="#">refresh</a> this page.
</p>
