---
title: "Chromeless Screen"
bodyClass: "pxh-chromeless"
layout: "demo-chromeless.hbs"
---
    <div class="pxh-wrapper">
      <div class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
      </div>
      <div class="pxh-view pxh-view--wide@md pxh-view--narrow@lg pxh-view--white" id="js-view">
        <div class="pxh-error pxh-error@md pxh-error@lg">
          <div class="pxh-error__icon">
            <i class="fa fa-exclamation-circle"></i>
          </div> 
          <h1 class="pxh-error__title">
            This &lt;module&gt; does not exist.
          </h1>
          <p class="pxh-error__description">
            Return to <a href="index.html">&lt;home page&gt;</a>.
          </p>
        </div>
      </div>
    </div>
