---
title: "Default Screen"
bodyClass: "pxh-chromeful"
errorSelected: false
---

    <section class="pxh-wrapper">
      <header class="pxh-view-header pxh-view-header--wide@md pxh-view-header--narrow@lg pxh-view-header--nudge-until@md">
        <h1 class="pxh-view-header__title">
          <a href="index.html" class="pxh-view-header__title-link">
            pxh-chrome 1.0.1 <!-- <i class="fa fa-caret-down pxh-view-header__title-action"></i> -->
          </a>
        </h1>
      </header>
      <section class="pxh-view pxh-view--wide@md pxh-view--narrow@lg" id="js-view">

        <div class="pxh-docs">

          <h2>Documentation</h2>

          <ul>
            <li><a href="docs-drawer.html">Drawer, View &amp; View Header</a></li>
            <li><a href="docs-navigation.html">Drawer Navigation</a></li>
            <li><a href="docs-badge.html">Badges</a></li>
            <li><a href="docs-spinner.html">Loading Indicator</a></li>
            <li><a href="docs-overlay.html">Overlay</a></li>
            <li><a href="docs-resize-event.html">Resize Event</a></li>
          </ul>
          
          <hr>

          <h2>Screens</h2>

          <ul>
            <li><a href="demo-chromeful.html">"Chromeful" Layout</a></li>
            <li><a href="demo-chromeless.html">"Chromeless" Layout</a></li>
          </ul>

          <h3>Error Screens</h3>

          <ul>
            <li><a href="error-prechrome-preauth.html">Pre-Chrome, Pre-Auth "Splash" Error</a></li>
            <li><a href="error-prechrome-postauth.html">Pre-Chrome, Post-Auth "Splash" Error</a></li>
            <li><a href="error-postchrome.html">Post-Chrome "Chromeful" App Error</a></li>
            <li><a href="error-chromeless.html">Post-Chrome "Chromeless" App Error</a></li>
          </ul>

          <hr>

          <h2>Component Demos</h2>

          <ul>
            <li><a href="demo-drawer.html">Drawer, View &amp; View Header</a></li>
            <li><a href="demo-navigation.html">Drawer Navigation</a></li>
            <li><a href="demo-login-signed-in.html">Drawer Login - Signed In</a></li>
            <li><a href="demo-login-signed-out.html">Drawer Login - Signed Out</a></li>
            <li><a href="demo-badge.html">Badges</a></li>
            <li><a href="demo-toasts.html">Toasts &amp; Notifications</a></li>
            <li><a href="demo-spinner.html">Loading Indicator</a></li>
          </ul>

        </div>
      </section>
    </section>
