<div class="pxh-drawer pxh-drawer--hidden-until@md pxh-drawer--narrow@md pxh-drawer--wide@lg" id="js-drawer">
  {{> drawer-toggle }}
  <h1 class="pxh-drawer-header">
    <a href="index.html" class="pxh-drawer-header__link pxh-drawer-header__link--narrow@md pxh-drawer-header__link--wide@lg" title="App with an extremely long name">
      App with an extremely long name
    </a>
  </h1>
</div>
